.w_head .nei_mulu .nei_but {width:100%;}
.w_head .nei_mulu .nei_san {width:100%;}
.gou_wu .gou_wb1 h4  {font-size:12px;}
.bao .q1 .w_z {width:17%;}
.input {width:75%;}
.pip_th .pip_tu .zp1 p {line-height:25px;}