
@media   (min-width : 1420px) {
.shou_head {display:none;}	
}

@media (min-width : 1000px) and (max-width : 1440px) {
	
.head {width:100%; height:60px; background:#262626; float:left; position:fixed; z-index:99999; left:0px; top:0px;}
.header {width:100%; height:100%; margin:0 auto; position:relative;}	
.head_nav {width:auto; height:100%; float:left; margin-left:118px;}	
.head_nav ul li {width:auto; height:100%; float:left; text-align:left; line-height:60px; margin-right:60px; }	
.shou_head {display:none;}	

.pro_til_left {font-size:1.25em;}
.content_img2 {height: auto;}	
.pro_content {width:100%;}
.pro_img  {height:auto;}
.pro_img img {width:100%;}
.pro_main {width:100%;}
.pro_titlew {width:100%;}
.pro_til {width:100%;}

/*productDetail*/
.prode{width:60%}
.prode_right{width:39%}
.prode_bor{width:auto}
.foot{height:auto;}

.pro_qi ul li{border:none;}
.prode_bor{right:40%;}
.wishlist_box {
    top: 75px;  
}

.pro_qi {
    display: table;
    height: auto;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    table-layout: fixed;
    width: 100%;
}


}
@media   (max-width : 1180px){
	.ghd.d {width:82%; max-width:82%;}
	
.ghd1.d {
    max-width: 82%;
    width: 82%;
}
}



@media   (max-width : 1101px) {
.product_box {width:100%;}
.product_box ul li {width:30%; margin-right:3.8%; height:auto;}
.product_box ul li .p_boximg {width:100%; height:auto; float:left;}

/*mima*/
.miao_mima2_box2 {width:100%;}
.miao_mima1_tb1 {width:70px;}

}
@media (min-width : 1000px) and (max-width : 1400px) {
.content {width:100%;}
.content_img1 {width:100%; height:auto; float:left; position:relative; margin-bottom:20px;}
.content_img1_imgbox {width:100%; height:auto;}
.content_img1_imgbox img {width:100%;}
.content_img1_t {width:620px; height:52px; position:absolute; top:50%; margin-top:-26px; text-align:center; line-height:52px; font-size:1.75em; color:#fff; text-transform:uppercase; right:50%; z-index:9999; cursor:pointer; margin-right:-310px;}
.content_img1_t a {width:100%; height:100%; display:block; color:#fff;}
.content_img2 {height: auto;}	
.content_img3 {width:100%; height:auto; float:left;padding-bottom:20px;}
.content_img3_1 {width:33.2%; height:auto;}
.content_img3_1 img {width:100%;}
.content_img3_t {font-size:1.75em;}
.content_img3_2 {width:100%; height:100%; float:left; position:relative; overflow:hidden;}
.content_img3_2 img {width:100%;}

.shai_box1 {margin-bottom:20px;}

.brand_tbox.brand2 {left:10%; width:90%;}

.foot {width:100%; height:auto; background:#000; float:left; position:relative; }

.footer {width:96%; height:auto;}

.footer_right {  width: auto;}

.footer_tu {width:131px; height:30px; float:left;}
.footer_2 {height:auto;}

.footer_3_1 {width:12.31%;}
.footer_3_2 {width:18%;}
.footer_3_3 {width:18%;}
.footer_3_4 {width:18%;}
.footer_3_5 {width:18%;}
.footer_3_6 {width:15%;}

.footer_2_2 {text-align:left; text-indent:50px;}
.footer_2_3 {text-align:left; text-indent:50px;}
.footer_2_4 {text-align:left; text-indent:50px;}
.footer_2_5 {text-align:left; text-indent:50px;}
.footer_3_box2 {text-indent:50px;}
.footer_3_box3 {text-indent:50px;}
.footer_3_box4 {text-indent:50px;}
.footer_3_box5 {text-indent:50px;}



.footer_2_1_t {width:12.31%;}
.footer_2_2_t {width:18%;}
.footer_2_3_t {width:18%;}
.footer_2_4_t {width:18%;}
.footer_2_5_t {width:18%;}
.footer_2_6_t {width:15%;}


.pro_content {width:100%;}
.pro_img  {height:auto;}
.pro_img img {width:100%;}
.pro_main {width:100%;}
.pro_til {margin-left:0px; width:100%;}
.pro_main {width:100%;}
.pro_til_left {font-size:1.25em;}

.pad_b178 {padding-bottom:0px;}
.pro_main {width:100%;}
.pro_titlew {width:100%;}
.pro_til {width:100%;}
.shai_box {height:auto;}
.shaixuan {height:auto;}

.shai_box1 { height:220px; }

/*map*/
.map_left {width:24%; height:0px;}

/*login*/
.login_left_title,.loginPlaceholder{width:100%}
.login_right{width:45%; float:right;}

/*register*/
.register_le  {width:60%; padding:20px 3%;}
.register_right {width:30%; float:left; height:100%; background:#f0f0f0;} 
.register_rig {width:80%; height:auto; padding:10%;}

/*brand*/
.brand_tbox { left: 0; margin-left:0; max-width:100%;}
/*houmian xiugai*/
.pro_til_left {margin-left:10px; width:54%;}
.pro_til_right {margin-right:10px;}

.chan_fen_2 {top:70%;}
.miao_box {margin-top:0px; margin:0 auto;}
.miao_biao {padding-top:90px; padding-bottom:20px; font-size:40px; width:80%; padding-left:9px;}
}

@media  (max-width :1200px) {
.content_img2_t {top:40%;}
/*brand*/
.brand_tbox2 h1 {width:100%;}
.brand_tbox {top:3em;}
.brand_tbox2 h2 {margin: 8% 0 0 0%; margin-left:22px;}
.brand_tbox2 .miaosu {margin: 1.5em auto 0 22px; width:50%;}
.miao_box {margin-top:0px; margin:0 auto;}
.miao_biao {padding-top:90px; padding-bottom:20px; font-size:30px; width:80%; padding-left:9px;}




}



@media  (max-width :1100px) {
.miao_tubox2 { margin-bottom:10px; margin-top:10px;}
.miao_tubox3 {margin-bottom:10px; margin-top:10px;}
.cont_personal_box {width:100%;}
.cont_personal_box .title {width:94%;}
.cont_personal_box .neirong {width:94%;}
.miao_xinx_box1 {width:15%; margin-left:1.5%;}
.miao_xinx_box2 {width:12.6%;}
.miao_xinx_box3 {width:33.3%;}
.miao_xinx_box4 {width:22.5%;}
.miao_xin_but {margin-left:29.1%;}
/*add*/
.miao_add_but1 {width:160px;}
.miao_add_but2 {width:120px;}
/*login*/
.miao_log_b {width:100%;}
.miao_log_b1 { width:94%;}
.miao_order2_b4 {width: 12%;}

}
@media (min-width : 600px) and (max-width : 1000px) {
.pro_content {width:100%;}
.pro_img  {height:auto;}

.pro_img img {width:100%;}
.pro_til {margin-left:0px; width:100%;}
.pro_main {width:100%;}
.pro_til_left {font-size:1.25em; margin-left:10px;}
.product_gengduo {margin-top:20px;}
.pro_main {width:100%;}
.pro_titlew {width:100%;}
.pro_til {width:100%;}
.shai_box {height:auto;}
.shaixuan {height:auto;}
.pro_til_right {margin-right:10px;}
.shai_box1 { height:220px; }


.pad_b178 {padding-bottom:0px;}


.foot {width:100%; height:auto; background:#000; float:left; position:relative; }

.footer {width:96%; height:auto;}

.footer_right {  width: 200px;}

.footer_tu {width:131px; height:30px; float:left;}
.footer_2 {height:auto;}

.footer_3_1 {width:12.31%;}
.footer_3_2 {width:18%;}
.footer_3_3 {width:18%;}
.footer_3_4 {width:18%;}
.footer_3_5 {width:18%;}
.footer_3_6 {width:15%;}

.footer_2_2 {text-align:left; text-indent:50px;}
.footer_2_3 {text-align:left; text-indent:50px;}
.footer_2_4 {text-align:left; text-indent:50px;}
.footer_2_5 {text-align:left; text-indent:50px;}
.footer_3_box2 {text-indent:50px;}
.footer_3_box3 {text-indent:50px;}
.footer_3_box4 {text-indent:50px;}
.footer_3_box5 {text-indent:50px;}

.footer_1_1 {height:auto;}
.footer_1 { height:auto; padding-bottom:10px;}
.footer_right {width:auto;}




.footer_2_1_t {width:12.31%;}
.footer_2_2_t {width:18%;}
.footer_2_3_t {width:18%;}
.footer_2_4_t {width:18%;}
.footer_2_5_t {width:17%;}
.footer_2_6_t {width:16%;}

/*map*/
.map_tlt { text-indent:16px;}

.map_left {width:24%;}
.dian_cha2_right {width:83%;}

/*live_zixun*/
.login-box-wrap {width:100%;}
.register_box {width:100%; }
.register_wrap {width:99%; margin-left:0.5%;}


/*login*/
.login_left_title,.loginPlaceholder{width:100%}
.login_right{width:45%;margin-left:5%}
.login_left {min-height:350px;}
.loginPlace_left {width:25%;}

/*register*/
.register_le  {width:60%; padding:20px 3%;}
.register_right {width:30%; float:left; height:100%; background:#f0f0f0;} 
.register_rig {width:80%; height:auto; padding:10%;}

.brand_tbox { left: 0; margin-left:0; max-width:100%;}


}
@media  (max-width :1000px) {
.footer_right {width:auto; float:left;}	
.shou_ti {float:left; margin-right:10px;}
.pro_til {margin-left:0px; width:100%;}
.product_box {width:100%;}
.head {width:100%; height:60px; background:#262626; float:left; position:fixed; z-index:99999; left:0px; top:0px;}
.header {width:100%; height:100%; margin:0 auto; position:relative;}
.head_nav { margin-left: 80px;width: 450px;}	
.head_nav ul li {margin-right:50px;}
.shou_head {width:100%; height:auto; background:#fdfdfd; float:left;  position:relative; top:60px; left:0px; z-index:99; display:none;}	
.content {width:100%;}


/*productDetail*/
.prode{width:60%}
.prode_right{width:39%}
.prode_bor{width:auto}
.foot{height:auto;}

.pro_qi ul li{border:none;}
.prode_bor{right:40%;}
.wishlist_box {
    top: 75px; right:0px;
}
.wishlist_san {right:15px;}
.pro_qi {
    display: table;
    height: auto;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    table-layout: fixed;
    width: 100%;
}
.jianbian1.jian {height:100%;}
.jianbian2.jian2 {height:100%;}

/*dingdan*/
.miao_order2_b1 {width:40%;}
.miao_order2_bt {line-height:18px;}

/*mima*/
.miao_mima2_but.mar_l90 {margin-left:25%;}


}
@media  (max-width :960px) {
	.shj {width:100%; height:40px; display:none;}
		.m_sanj {  display: block;
  position: absolute;  top:122px;
  
  right: 15px;
  z-index: 99;

  background: url(../../images/sss.png) no-repeat;

  width: 14px;
  height: 25px;
}
.s_b span {padding-left:3px;}
.s_b { height:30px; width:80px; position:absolute; right:40px; top:15px; display:block; text-align:right; line-height:30px; font-size:16px; color:#fff;cursor:pointer;}
.m_wxdh {position:fixed;display:none; top:0; left:0; z-index:9000; width:100%; height:100%;}
.m_wbj {width:100%;display:none; height:100%; position:absolute; top:0; left:0; background:#000; opacity:0.5; filter:alpha(opacity=50);}
	.m_xdh {width:280px;display:none;height:100%; position:fixed; top:0; left:0; background:#f6f6f6; z-index:188;}
.m_xdh ul {width:100%; height:100%; float:left;}
.m_xdh ul li {width:81.2%; height:60px;float:left; border-bottom:1px solid #000; line-height:65px; font-size:14px; padding:0 9.4%; }
.m_xdh ul li a {width:100%; height:100%; display:block; color:#372d2a;}
.chan_fen_1 {width:100%; height:auto; float:left; position:relative;}

.miao_tan {position:fixed; top:60px; left:0px; width:100%; height:100%;}
.miao_tubox2 {width:100%; margin-top:10px; margin-bottom:10px;}

.foot_gai {position:relative;}
.cont_box {padding-bottom:0px;}
.content_img1_imgbox {min-height:264px;}
.brand2 { opacity:1; filter:alpha(opacity=100); -moz-opacity:1;}	
.search:hover .he_line2 { display:none;}
.dianhua_box { width:100%;}
.news_alert_box {position:absolute !important;}
.brand_an {width:100%; height:auto; margin-left:0px; left:0px; font-size:8px;}


.shai_box {width:100%; height:auto; margin:0 auto; float:none;}
.shai_box1 {width:33%; overflow:hidden; margin-bottom:20px;}

.pro_til_close.dis_no {display:block;}
.jianbian2_right {width:10px; height:20px; background-size:100% auto;}
.jianbian1_left {width:10px; height:20px; background-size:100% auto;}


.qued {width:100%; height:32px; float:left; padding-bottom:20px; display:block;}
.qued_img {width:80px; height:100%; float:right; margin-right:10%; text-align:center; line-height:32px; color:#fff; background:#000; font-size:12px; }
.b_xiangs {display:none;}
.b_xiangx {display:none;}


.shouji_box {width:90%; height:auto; position:absolute; top:70%; left:10%; z-index:999; display:block;}
.shouji_box1 {width:100%; float:left; text-align:left; color:#fff; font-size:22px; line-height:1.1em;}
.shouji_box2 {width:100%; float:left; text-align:left; font-size:12px; color:#fff; line-height:20px; margin-top:1.5em; line-height:1.4;}


/*gerenxinxi*/
.miao_xinx_wrap {height:auto;}
.miao_xinx_box1 {width:90%; margin-left:0px; }
.miao_xinx_box2 {width:120px;}
.miao_xinx_box4 {width:33%; margin-left:2%;}
.miao_xinx_box3 {width:40%;}
.miao_xin_but {margin-left:120px;}

/*add*/
.miao_add2 {margin-left:3%;}
.miao_add2_in1.in6 {width:30%;}
.miao_add2_in1.in7 {width:28%;}
.foot_g_t { width: 100%; padding: 8px 0; text-align:center;}
.foot_g_t.text_r {text-align:center; width:100%;}

.huanhang1 {float:left;  text-align:center; width:28%;}
.huanhang2 {float:left;  text-align:center; width:43%; }
.huanhang3 {float:left;  text-align:center; width:28%; }

.s_nav {width:100%; height:40px; position:absolute; left:0; top:100%; display:block; }
.s_nbox {width:100%; height:40px; float:right; background:#fafafa; }
.s_nbox .s_in {  background: #fafafa; border:none; color: #999; float: left; font-size: 12px; height: 100%; line-height: 40px; text-align: left; text-indent: 10px; width: 80%;}
.s_nbox .ss {background: #666; color: #fff; cursor: pointer; float: left; font-size: 12px; height: 100%;line-height: 40px;  text-align: center; width: 20%;}


/*地图*/
.wuzhi { margin-top:0px; margin-bottom:0px;} 
.map_box {position:relative;margin-top: 0px;}
.map_right {width:98%; float:left; margin-top:50px;}


.map_left {width:100%; position:relative;}
.map_yin { background:#fdfdfd;display: block;left: 0;height:0px;overflow:hidden;  position: fixed; top: 100px; z-index: 200;}
.s_d {width:80px; height:30px;z-index:99999; position:absolute; left:0; top:15px; display:block;}

.s_s {
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 15px;
    width: 30px;
}

.s_s img {
    margin-top: 7px;
}

.ghd.d {
    max-width: 82%;
    width: 82%;
}
.ghd {
    position: relative;
}
.gh1 {
    display: none;
}
.deng_anniu { height:auto;}
.deng_anniu a { width:90% !important;}
.deng_anniu a.sinal { margin-left:0; margin-top:10px;width:90%; height:30px;}
.deng_anniu a.qql { margin-left:0; margin-top:10px;width:90%;height:30px;}
.deng_anniu a span { right:20px; top:2px;}
.foot_g_t.text_r { text-align:center;}

.qm_tb {width:60%;}
.qm_lbz {width:100%;}
.qm_lby{width:100%;}
.miao_bao1_box2_l {width:90px; height:90px; padding-top:0; background:#f6f6f6; text-align:center;}
.miao_bao1_box2_l img { width:90px !important; position:relative; top:16px;}
.gdh ul li.pad2 img {position:relative; top:16px;}


.youhuiinpt .youshiyong {height:38px;  line-height:38px;}
.youhuiinpt .inputBg{height:38px;}



}
@media  (max-width :950px) {
.search:hover .he_line2 { display:none;}
.fangda {width:23px; height:22px; background:url(../images/zoom_plus.png) no-repeat; position:absolute; top:0px; right:0px; z-index:990;}
.head {width:100%; height:60px; background:#262626; float:left; position:fixed; z-index:99999; left:0px; top:0px;}
.header {width:100%; height:100%; margin:0 auto; position:relative;}	
.shouji_nav {width:33px; height:50px; background:url(../images/sprite_togglerLeftMenu.png) no-repeat; position:absolute; top:10px; left:20px; cursor:pointer;}	
.menu {display:block;}
.shouji_nav:hover {background:url(../images/sprite_togglerLeftMenu.png) no-repeat 0 -50px;}
.head_nav {display:none;}	
.logo {width:125px; height:35px; float:none; margin-left:0px; margin-top:0px; cursor:pointer; position:absolute; top:50%; margin-left:-50px; left:50%; margin-top:-18px;}	
.shou_head {width:100%; height:auto; background:#fdfdfd; float:left;  position:relative; top:0px; left:0px; z-index:99; display:none;}	
.shou_head ul {width:100%; float:left;}
.shou_head ul li {width:100%; height:60px; text-align:left; line-height:60px; text-indent:25px; font-size:0.75em; color:#fff; border-bottom:1px solid #e2e2e2; float:left;}
.shou_head ul li a {color:#372d2a; height:100%; display:block; width:100%;}
.shou_head ul li a:hover {color:#a6a6a6;}
.shou_head ul li.hei_auto {height:auto; position:relative;}
.shou_deng {width:100%; height:60px; line-height:60px; text-align:left; text-indent:25px;font-size:1.2em; color:#333; float:left;}
.shou_deng_title2 {  float: left;  line-height: normal; padding-bottom: 15px; width: 100%; text-align:left; text-indent:25px;color:#333; font-size:1.1em;}
.shou_deng_title3 {  float: left;  line-height: normal;  width: 100%; text-align:left; text-indent:25px; color:#666; font-size:1em;}
.shou_deng_b { float: left; height: auto; padding-bottom:20px; width: 100%;}
.shou_deng_in {width:90%; height:30px; border:1px solid #e2e2e2; float:left; margin-left:25px; text-align:left; line-height:30px; color:#999; font-size:1em;}
.shou_dengbox {width:100%; height:auto; float:left; background:#f6f6f6;}
.deng_left_t3 {
    color: #666; width:100%;
    float: left; margin-bottom:10px;
    font-size:1em;
    line-height: normal;
    margin-top: 0px;
    text-decoration: underline;
}
.deng_left_t3 a {color:#949494;}
.deng_anniu {margin:20px 0; margin-left:25px; text-align:center !important; color:#fff; text-indent:0px;}
.deng_anniu a {color:#fff !important;}

.deng_anniu2 {margin:20px 0; margin-left:25px; text-align:center !important; color:#fff; text-indent:0px;}
.deng_anniu2 a {color:#fff !important;}
.deng_left_t4 {width:80%;color: #666; width:80%; float: left; margin-bottom:10px; font-size:1em; line-height: normal; padding-left:25px; text-indent:0px;}

.cont_box {width:100%; height:auto; float:left; padding-top:60px;}	

.mybl  {display:none}
.head_gouwu {width:auto;}

.content {width:100%;}
.content_img1 {width:100%; height:auto; float:left; position:relative; margin-bottom:20px;}
.content_img1_imgbox {width:100%; height:auto;}
.content_img1_imgbox img {width:100%;}
.content_img1_t {width:100%; height:52px; position:absolute; top:50%; margin-top:-26px; text-align:center; line-height:52px; font-size:1.75em; color:#fff; text-transform:uppercase; right:0; z-index:9999; cursor:pointer; margin-right:0px;}

.content_img2 {width:100%; height:auto;}
.content_img2_img {width:33%; height:auto;}
.content_img2_img img {width:100%;}
.content_img2_t {width:100%; height:auto; position:absolute; top:77%; left:0;  z-index:999; text-align:center;font-size:9px; color:#fff; text-transform:uppercase; cursor:pointer; line-height:17px; text-transform:uppercase; font-size:16px;}
.content_img2_t a {width:100%; height:100%; display:block; color:#fff;}
.content_img2_t a span {padding-top:12px; font-size:12px;}

.content_img3 {width:100%; height:auto; float:left;padding-bottom:20px;}
.content_img3_1 {width:33.2%; height:auto;}
.content_img3_1 img {width:100%;}
.content_img3_t {font-size:1.75em;}
.content_img3_2 {width:66.7%; height:auto; float:left; position:relative; overflow:hidden;}
.content_img3_2 img {width:100%;}	

.content_img3 {width:100%; height:auto; float:left;padding-bottom:20px;}
.content_img3_1 {width:100%; height:auto; margin-bottom:20px;}
.content_img3_1 img {width:100%;}
.content_img3_t {font-size:1.75em;}
.content_img3_2 {width:100%; height:auto; float:left; position:relative; overflow:hidden;}
.content_img3_2 img {width:100%;}

.foot {height:auto;}
.footer_1 {padding-bottom: 28px; height:auto;}
.footer_1_1 { height:auto;}
.footer {height:auto;}
.footer_2 {height:auto;}

.footer_ti {width:50%; text-align:left; padding-left:20px;}
.shou_in {float:left; margin-top:20px;}
.shou_ti {float:left; margin-top:20px;}
.footer_right {margin-top:20px;}
.pro_til {margin-left:0px; width:100%;}
.pro_til_left {font-size:1.25em; width:54%;}
.pro_til_right { font-size:1em;}
.pro_main {width:100%;}
.pro_titlew {width:100%;}
.pro_til {width:100%;}

.shai_box {height:auto;}
.shaixuan {height:auto;}
.shai_box1 { height:220px; }


.foot {width:100%; height:auto; background:#000; float:left; position:relative; }
.footer {width:96%;}
.foot {height:auto;}
.footer_1 {padding-bottom: 28px; height:auto;}
.footer_1_1 { height:auto;}

.footer_tu {width:131px; height:30px; float:left;}
.footer_2 {height:auto; display:none;}


.footer_2_2 {text-align:left; text-indent:0px;}
.footer_2_3 { text-align:left; text-indent:0px;}
.footer_2_2 { text-align:left; text-indent:0px;}
.footer_2_3 { text-align:left; text-indent:0px;}	
.footer_2_4 { text-align:left; text-indent:0px;}	
.footer_2_5 { text-align:left; text-indent:0px;}	
.footer_2_6 { text-align:left; text-indent:0px;}	
.footer_2_1_t {width:80%;}
.footer_2_2_t {width:80%;}
.footer_2_3_t {width:80%;}
.footer_2_4_t {width:80%;}
.footer_2_5_t {width:80%;}
.footer_2_6_t {width:80%;}
.footer_2_6 {text-align:left;}
.footer_2_box1 {text-indent:0px;}
.footer_2_box2 {text-indent:0px;}
.footer_2_box3 {text-indent:0px;}
.footer_2_box4 {text-indent:0px;}
.footer_2_box5 {text-indent:0px;}

.footer_4 {width:100%; height:auto; float:left; margin-top:26px; display:block;}
.footer_4_1_t {width:80%;}
.footer_4_2_t {width:80%;}
.footer_4_3_t {width:80%;}
.footer_4_4_t {width:80%;}
.footer_4_5_t {width:80%;}
.footer_4_6_t {width:80%;}
.footer_1 {margin-top:15px;}


.content_img1_imgbox {min-height:264px;}

.brand2 { opacity:1; filter:alpha(opacity=100); -moz-opacity:1;}

.triangle.seke {
    background-image: url("../images/icon.png");
    background-position: -45px -765px;
    background-repeat: no-repeat;
    height: 15px; width: 15px; position:absolute; left:70px; top:6px;
}
.triangle {
    background-image: url("../images/icon.png");
    background-position: 0 -771px;
    background-repeat: no-repeat;
    display: block; height: 6px; width: 9px; position:absolute; left:70px; top:12px;
}
/*map*/
.map_left {width:100%;height:0px;}
.dian_cha2_right {width:83%;}

/*live_zixun*/
.login-box-wrap {width:100%;}
.register_box {width:100%; }
.register_wrap {width:99%; margin-left:0.5%;}
.shouji {display:block;}
.shou_width {display:none;}
.register_box1_up_right {width:70%;}
.onlin_txt {text-indent:20px;}
.register_box .box .h1.h1_sty {text-indent:20px;}
.login-title {text-indent:20px;}
.register_box .box {width:100%;}
.register_box222 {width:100%;}
.register_box1 {width:90%;}
.online_but {float:left;}
.tijiao_box {float:left; width:40%;}
.register_box2 {margin-left:20px; margin-top:20px;}

/*login*/
.login_left_title,.loginPlaceholder{width:100%}
.login_right{width:100%;margin-left:0%; min-height:240px}
.login_left{width:100%; min-height:350px}

/*productDetail*/
.pro_qi ul li{width:100%}
.liulan .liulanimg ul li{width:100%}
.prode_limgbox .prode_img{width:90%;}
.pro_qi ul li a .qi_img img{width:60%}
.liulan .liulanimg ul li a .liulan_ibox img{width:60%}

.pro_qi ul li{border:none;}
.register_le{width:60%; padding:0px 3%}
.register_right{width:30%;}
.register_rig{width:80%; padding:10%;}
.register_rig_t1{margin:10px 0px;}
.wishlist_nav{width:100%;}

.prode {width:100%;}
.prode_bor {display:none;}
.prode_right {display:none;}
.m_prode_right{display:block}
.prode_bor{display:none;}
.prode{width:100%}
.prode_right{width:100%}
.m_prode_right { display: block;}

.pro_qi ul li a .qi_img img{width:80%}
.liulan .liulanimg ul li a .liulan_ibox img{width:80%}

.pro_qi ul li{border:none;display:none; width:100%;}
.pro_qi ul li.bor_rig{border:none;display:block; width:100%;}
.pro_qi ul{border:none; width:100%; height:100%;}

.pro_chicun {width:100px;}
.cont_box { padding-top:0;}



/*brand*/
/*brandDetail*/
.w_31 {width:50% !important;}
.foot_gai {position:relative;}

.pro_box1_txt {line-height:176px; font-size:20px;}
.pro_box1_tbox {display:none;}
.dianhua_box { width:100%;}
.news_alert_box {position:absolute !important;}

/*add*/
.miao_add_but1 {width:180px; margin-right:50px;}
.miao_add_but2 {margin-top:20px; margin-left:0px;}

/*mima*/
.miao_mima3_ts { text-align:left;}
.miao_mima3_box {width:90%; padding-left:10%;}
.miao_mima3_t {text-align:left;}
.miao_mima2_but.mar_l90 {margin-left:0;}
.miao_mima1_t2 {width:90%; padding-right:10%; line-height:21px;}

/*login*/
.miao_log_box1 {width:100%; margin-left:0px;}
.miao_log_t2 {width:98%;}
.miao_log_t3_2 {width:100%; text-align:left;}
.miao_log_de1 {width:98%; margin-left:0;}



.foot_g_t { text-align:center; width:100%;}

.foot_g_t.text_r { width:100%; float:left;}

.huanhang1 {
    float: left;
    text-align: center;
    width: 28%;
}

.huanhang2 {
    float: left;
    text-align: center;
    width: 46%;
}
.huanhang3 {
    float: left;
    text-align: center;
    width: 26%;
}
}
@media  (max-width :900px) {
/*map*/


.dian_cha2_right {width:83%;}	


.map_dian {position:relative !important; left:0px; top:0 !important; z-index:110; cursor:pointer;}

.dian_upsan {width:20px; height:10px; background:url(../images/dian_san4.png) no-repeat; float:right; margin-right:10%; margin-top:15px;}
.dian_upsan.select {width:20px; height:10px; background:url(../images/dian_san2.png) no-repeat; float:right; margin-right:10%; margin-top:15px;}
.scrollbar {
    background: none repeat scroll 0 0 #aa9ea2;
    height: 190px;
    position: absolute;
    right: 20px;
    top: 15px;
    width: 4px;
    z-index: 99999;
}

.dian_cha3 {
    float: left;
    height: 390px;
    margin-top: 0;
    overflow: hidden;
    width: 100%;
}


.dian_sear {right:10%;}
/*vip*/
.vip_box {width:90%; padding-left:20px; padding-bottom:20px;}
/*question*/
.question_box {width:96%;}
.question_txt1 {height:auto;}
.question_txtbox {width:98%;}
.q_txtbox_1 {width:49%;}
.bor_rinone {border-right:none;}
.q_txtbox_tbox {height:auto; border-bottom:none;}
.q_txtbox_1 {height:49px;}
.q_txtbox_2 {width:49%;}
.q_txtbox_in {width:90%;}
.question_txtbox {height:auto;}
.login_left {min-height:350px;}

/*register*/
.register_le{width:96%; padding:0px 2%}
.register_right{width:10%;}
.register_rig{width:80%; padding:10%;}
.register_rig_t1{margin:10px 0px;}

.register_text{width:100%}
.register_tit_le{width:100%; text-align:center; margin-top:30px}

.register_right{width:100%}
.register_tit_rig{width:100%; padding:10px 0px; text-align:center;margin:20px 0px}
.register_rig{width:90%; padding:5%;}
.register_rig_box{padding:10px;width:90%}
.content{padding-bottom:0px}
.tijiao{float:none; clear:both; margin:15px auto}
.wishlist_nav{width:100%;}

.register_tbox_rig{width:100%}

/*brand*/
.brand_tbox2 h1 {font-size:2em !important; width:100%;}
/*brandDetail*/
.w_31 {width:90% !important; margin-left:5%;}
.brandDetail_tbox2 {width:95%;}
.brandDetail {margin-top:-100px;}
.display_b {display:none;}
.t_al {text-align:center;}
.brandDetail_h2 {font-size:2em !important;}
.brandDetail_tbox2,.brandDetail_tbox2 ul li {letter-spacing:0px !important; font-size: 1em;}
.brandDetail_h1 {font-size:2em !important;}
.brand_tbox2 .miaosu.mar_auto { margin-top:1em;}
.foot_gai {position:relative;}
.pro_box1_txt {line-height:176px; font-size:20px;}

.search:hover .he_line2 { display:none;}



.shai_box {width:100%; height:auto; margin:0 auto; float:none;}
.shai_box1 {width:49.5%; overflow:hidden;}

/*add*/
.miao_add1 {width:100%;}
.miao_add1_1 {width:100%;}
.miao_add1_2_t {width:81%;}
.miao_add2 {margin-left:0px; width:100%; margin-top:30px;}
.miao_add2_box {margin-left:0px; width:100%;}
.miao_add_but2 {margin-top:0px; margin-left:20px;}
.miao_add3 {width:100%; margin-top:10px;}
.miao_add2_in1.in8 {width:99.6%;}
/*dingdan*/
.miao_order1 {width:100%;}
.miao_order2 {width:100%; margin-top:30px;}
.miao_order2_img {width:13%; margin-left:0; min-width:70px;}
.miao_order2_b1 {margin-left:0px;}
.miao_order_1 {margin-left:0px; width:60%;}
.miao_order2_1 {margin-left:0px;}
.miao_order_2 {width:30%;}
.miao_order2_b8 {margin-right: 12%; width: 74%;}

/*mima*/
.miao_mima2_but {margin-left:0px;}
.miao_mima2_box {width:90%; padding-left:10%; padding-right:0;}
.miao_mima1_tb1 {width:60px;}

/*liucheng*/

.liu_song {width:100%;}
.liucheng2 {width:98%;}

/*yunshu*/
.question2 {width:100%; padding-left:0px; border-bottom:1px solid #e2e2e2;}
.question1 {width:100%; border-right:none;}


.cont_box { padding-top:0;}
}
@media  (max-width :700px) {
.brand_tbox2 h2 {width:96%;text-align:left;  margin: 8% 0 0 2%;}
.brand_tbox2 .miaosu {width:96%;text-align:left; margin-left:2%;}	
.brand_tbox2 .brand_but {width:100%; text-align:center;margin-left:0px;}
.brand_tbox2 .brand_but a .brand_san {left:60%;}
.dian_sear {right:10%;}

.shai_box {width:100%; height:auto; margin:0 auto; float:none;}
.bbor_left {border-left:1px solid #e2e2e2;}
.bbor_left1 { border-left:none;}
.shai_box1 {margin-bottom:20px;}
.search:hover .he_line2 { display:none;}
.wan_chan {width:100%;}

/*dingdan*/
.miao_order {background:#f6f6f6; height:auto;}
.miao_order2_t {background:#f6f6f6;}
.miao_order_1 {padding:10px 0px;}
.miao_order_2 {margin-top:0px;  margin-right:0px; float:left;}
.miao_order_1 strong {width:100%;}
.miao_order_2 {width:30%; padding:10px 0px;}
/*mima*/
.miao_mima3_t3_1 {width:70%;}
}
@media  (max-width :640px) {
.miao_tubox2 {margin-bottom:0px; margin-top:10px; height:40px;}
.miao_biao {font-size:1.2em; padding-top:10px; padding-bottom:10px;}
.miao_tub2 {width:70%;}
.miao_tub2 {width:80%; height:30px; margin-left:10px;}
.miao_tub3 {width:80%; height:30px; margin-left:10px;}
.miao_tubiao4 {width:100%;}
.miao_tubiao3 {width:100%;}
.miao_tubox3 {width:100%; margin-bottom:0px; height:40px;}
.miao_tub1 {width:40px; height:40px;}
.miao_tub3 .h1 {height:15px; line-height:15px; font-size:0.8em;}
.miao_tub3 .h2 {height:15px; line-height:15px; font-size:0.6em;}
.miao_tub2 .h1 {height:15px; line-height:15px; font-size:0.8em;}
.miao_tub2 .h2 {height:15px; line-height:15px; font-size:0.6em;}
.miao_shan {top:13px;}
.miao_tub1 {width:30px; height:30px;}
.miao_txt2 {font-size:0.7em;}
.miao_txt1 {font-size:0.7em;}
.miao_txt3 { font-size:0.7em;}
.miao_txt3 span {font-size:0.6em; line-height:20px;}
.miao_order_1 { width:70%;}
.miao_order_2 { width:30%; padding:10px 0px;}

/*gerenxinxi*/
.miao_xinx_box3 {width:65%;}
.cont_personal_box .title {width:96%;}
.cont_personal_box .neirong {width:96%;}
.miao_xinx_box2 {width:100px;}
.miao_xinx_box4 {width:65%; margin-left:100px; height:auto; line-height:21px;}
.miao_xin_but {margin-left:100px;}
/*dingdan*/
.miao_order2_wrap {min-height:auto;}
.cont_personal_box .neirong {width:98%;}
.cont_personal_box .title {width:98%;}
.miao_log_b1 {width:98%;}
.miao_add2.ding_tan2 { width:96%; margin-left:2%;}
.ding_tan_but { margin-right:10px;}

/*yunshu*/
.lianxi {width:100%; padding:0px;}
.miao_bao1 {background:#f6f6f6;}
.miao_bao1_box {background:none;}

}
@media  (max-width :600px) {
	.map_tlt { text-indent:16px;}
.head {width:100%; height:60px; background:#262626; float:left; position:fixed; z-index:99999; left:0px; top:0px;}
.header {width:100%; height:100%; margin:0 auto; position:relative;}	
.shouji_nav {width:33px; height:50px; background:url(../images/sprite_togglerLeftMenu.png) no-repeat; position:absolute; top:10px; left:20px; cursor:pointer;}	
.shouji_nav:hover {background:url(../images/sprite_togglerLeftMenu.png) no-repeat 0 -50px;}
.head_nav {display:none;}	
.logo {width:125px; height:35px; float:none; margin-left:0px; margin-top:0px; cursor:pointer; position:absolute; top:50%; margin-left:-50px; left:50%; margin-top:-18px;}	
.shou_head {width:100%; height:auto; background:#fdfdfd;position:relative; top:0px; left:0px; z-index:99; display:none;}	
.shou_head ul {width:100%; float:left;}
.shou_head ul li {width:100%; height:60px; text-align:left; line-height:60px; text-indent:25px; font-size:0.75em; color:#fff; border-bottom:1px solid #e2e2e2; float:left;}
.shou_head ul li a {color:#372d2a; height:100%; display:block; width:100%;}
.shou_head ul li a:hover {color:#a6a6a6;}
.cont_box {width:100%; height:auto; float:left; padding-top:60px;}	

.mybl  {display:none}
.head_gouwu {width:auto;}

.search_box {width:100%;}
.search_box1 {width:70%;}






.content {width:100%;}
.content_img1 {width:100%; height:auto; float:left; position:relative; margin-bottom:20px;}
.content_img1_imgbox {width:100%; height:auto;}
.content_img1_imgbox img {width:100%;}
.content_img1_t {width:100%; height:52px; position:absolute; top:50%; margin-top:-26px; text-align:center; line-height:52px; font-size:1em; color:#fff; text-transform:uppercase; right:0; z-index:9999; cursor:pointer; margin-right:0px;}

.content_img2 {width:100%; height:auto;}
.content_img2_img {width:100%; height:auto; margin-bottom:20px;}
.content_img2_img img {width:100%;}
.content_img2_t {width:100%; height:auto; position:absolute; top:77%; left:0;  z-index:999; text-align:center;color:#fff; text-transform:uppercase; cursor:pointer; line-height:17px; text-transform:uppercase; font-size:16px;}
.content_img2_t a {width:100%; height:100%; display:block; color:#fff;}
.content_img2_t a span {padding-top:12px; font-size:12px;}

.content_img3 {width:100%; height:auto; float:left;padding-bottom:20px;}
.content_img3_1 {width:100%; height:auto; margin-bottom:20px;}
.content_img3_1 img {width:100%;}
.content_img3_t {font-size:1em;}
.content_img3_2 {width:100%; height:auto; float:left; position:relative; overflow:hidden;}
.content_img3_2 img {width:100%;}
.foot {width:100%; height:auto; background:#000; float:left; position:relative; }
.footer {width:96%;}
.footer {width:96%;}
.foot {height:auto;}
.footer_1 {padding-bottom: 28px; height:auto;}
.footer_1_1 { height:auto;}
.footer_tu {width:131px; height:30px; float:left;}	
.shou_in {float:left; margin-top:20px;}
.shou_ti {float:left; margin-top:20px;}

.footer_ti {text-align:left; padding-left:0px; width:100%; margin-top:20px;}
.footer_right {width:auto; float:left; margin-top:20px;}

.f_line  {display:none;}
.footer {height:auto;}
.footer_2 {height:auto; display:none}

.footer_2_2 { text-align:left;}
.footer_2_3 { text-align:left;}
.footer_2_2 { text-align:left;}
.footer_2_3 { text-align:left;}	
.footer_2_4 { text-align:left;}	
.footer_2_5 { text-align:left;}	
.footer_2_6 { text-align:left;}	
.footer_2_1_t {width:80%;}
.footer_2_2_t {width:80%;}
.footer_2_3_t {width:80%;}
.footer_2_4_t {width:80%;}
.footer_2_5_t {width:80%;}
.footer_2_6_t {width:80%;}
.footer_2_6 {text-align:left;}
.footer_2_box2,.footer_2_box3,.footer_2_box4,.footer_2_box5 {text-indent:0px;}

.footer_4 {width:100%; height:auto; float:left; margin-top:26px; display:block;}
.footer_4_1_t {width:80%;}
.footer_4_2_t {width:80%;}
.footer_4_3_t {width:80%;}
.footer_4_4_t {width:80%;}
.footer_4_5_t {width:80%;}
.footer_4_6_t {width:80%;}
.footer_1 {margin-top:15px;}
.foot_gai {width:100%; height:auto; background:#000; float:left; position:relative; left:0px; bottom:0px; z-index:8887; }
.mar_b20 {margin-bottom:0px;}
.pad_b7 {padding-bottom:0px;}
.pro_content {width:100%;}
.pro_img  {height:auto;}
.pro_img img {width:100%;}
.pro_til {margin-left:0px; width:100%;}
.pro_main {width:100%;}
.pro_til_left {font-size:1.1em;  width:50%; margin-left:10px;}
.pro_til_left span {font-size:0.9em;}

.s_yihan {font-size:0.9em;}
.pro_til_right {width:110px; font-size:1em; margin-right:10px;}
.pad_b178 {padding-bottom:0px;}
.pro_main {width:100%;}
.pro_titlew {width:100%;}
.pro_til {width:100%;}
.shai_box {height:auto;}
.shaixuan {height:auto;}
.shai_box1 { height:220px; margin-bottom:20px; }
.shai_box1_t2 {float:left;}

.product_box {width:100%;}
.product_box ul li {width:80%; margin-right:9%; height:auto; margin-left:9%;}
.product_box ul li .p_boximg {width:100%; height:auto; float:left;}

.product_gengduo {margin-top:20px;}

.shou_head {width:100%; height:auto; background:#fdfdfd; float:left;  position:relative; top:0; left:0px; z-index:99; display:none;}	
.shou_head ul {width:100%; float:left;}
.shou_head ul li {width:100%; height:60px; text-align:left; line-height:60px; text-indent:25px; font-size:0.75em; color:#fff; border-bottom:1px solid #e2e2e2; float:left;}
.shou_head ul li a {color:#372d2a; height:100%; display:block; width:100%;}
.shou_head ul li a:hover {color:#a6a6a6;}
.shou_head ul li.hei_auto {height:auto; position:relative;}
.shou_deng {width:100%; height:60px; line-height:60px; text-align:left; text-indent:25px;font-size:1.2em; color:#333; float:left;}
.shou_deng_title2 {  float: left;  line-height: normal; padding-bottom: 15px; width: 100%; text-align:left; text-indent:25px;color:#333; font-size:1.1em;}
.shou_deng_title3 {  float: left;  line-height: normal;  width: 100%; text-align:left; text-indent:25px; color:#666; font-size:1em;}
.shou_deng_b { float: left; height: auto; padding-bottom:20px; width: 100%;}
.shou_deng_in {width:90%; height:30px; border:1px solid #e2e2e2; float:left; margin-left:25px; text-align:left; line-height:30px; color:#999; font-size:1em;}

.deng_left_t3 {
    color: #666; width:100%;
    float: left; margin-bottom:10px;
    font-size:1em;
    line-height: normal;
    margin-top: 0px;
    text-decoration: underline;
}
.deng_left_t3 a {color:#949494;}
.deng_anniu {margin:20px 0; margin-left:25px; text-align:center !important; color:#fff; text-indent:0px;}
.deng_anniu a {color:#fff !important;}

.deng_anniu2 {margin:20px 0; margin-left:25px; text-align:center !important; color:#fff; text-indent:0px;}
.deng_anniu2 a {color:#fff !important;}
.deng_left_t4 {width:80%;color: #666; width:80%; float: left; margin-bottom:10px; font-size:1em; line-height: normal; padding-left:25px; text-indent:0px;}


.triangle.seke {
    background-image: url("../images/icon.png");
    background-position: -45px -765px;
    background-repeat: no-repeat;
    height: 15px; width: 15px; position:absolute; left:70px; top:6px;
}
.triangle {
    background-image: url("../images/icon.png");
    background-position: 0 -771px; background-repeat: no-repeat;
    display: block; height: 6px; width: 9px; position:absolute; left:70px; top:12px;
	}

/*live_zixun*/
.login-box-wrap {width:100%;}
.register_box {width:100%; height:auto; }
.register_wrap {width:99%; margin-left:0.5%; height:auto;}
.shouji {display:block;}
.shou_width {display:none;}
.register_box1_up_right {width:70%;}
.onlin_txt {text-indent:20px;}
.register_box .box .h1.h1_sty {text-indent:20px; font-size:1.2em;}
.login-title {text-indent:20px;}
.register_box .box {width:100%;}
.register_box222 {width:100%;}
.register_box1 {width:90%;}
.online_but {float:left;}
.tijiao_box {float:left; width:90%; display:none;}
.register_box2 {margin-left:20px; margin-top:20px;}
.register_box1_up_left {width:100%;}
.register_box1_up_right {width:90%; float:left; margin-left:20px;}
.register_box1 {height:auto;}
.register_box1_up {height:auto;}
.login-title {font-size:1.2em;}
.vip_box {width:90%; padding-left:20px; padding-bottom:20px;}

/*question*/
.q_txtbox_radio {height:auto;}
.no_marb {height:auto; line-height:18px; text-indent:0px; padding-left:20px;}
.mag_left10 {margin-left:0px;}
.no_marb {height:auto; line-height:18px; text-indent:0px; padding-left:20px;}
.question_texar {width:90%;}
.question_texar2 {width:90%;}
.question_an {float:left;}
.loginPlace_left {width:25%;}
/*brand*/
.brand_tbox2 h1 {font-size:1.8em !important;}
.brand_tbox2 h2 {width:96%;text-align:left; font-size:1.8em; margin: 4% 0 0 2%; letter-spacing: 0;  line-height: 1;}
.brand_tbox2 .miaosu {width:96%;text-align:left; margin-left:2%; letter-spacing: 0;  margin-top:1em;  line-height: 1.6; font-size:0.75em;}	
.brand_tbox2 .brand_but {width:100%; text-align:center; margin-left:0;margin:0.8em 0 0 0;}
.brand_tbox2 .brand_but a .brand_san {left:65%;}
.brand_tbox { left: 0; margin-left:0; max-width:100%;}
.brand_tbox.brand2 {top:53%;}

.brandDetail_tbox2, .brandDetail_tbox2 ul li { font-size: 0.8em;letter-spacing: 0 !important;}
.brandDetail_h2 {
    font-size: 1.8em !important;
}

.pad_bot0 {padding-bottom:0px;}
.chan_fen_2 {top:70%;}
.miao_padbto46 {padding-bottom:0px;}

/*dingdan*/
.miao_order_jie {width:90%; margin-left:5%;}
.miao_order_jie2 {float:left; width:90%; margin-right:0px; margin-left:5%;}

.huanhang1 {float:left;  text-align:center; width:100%;}
.huanhang2 {float:left;  text-align:center; width:100%; }
.huanhang3 {float:left;  text-align:center; width:100%; }
.miao_or_name {width:32%; padding-left:1%;}
.miao_order_2 {width:30%;}



/*liucheng*/

.liucheng2_box1 {float:none; margin:0 auto;}
.liucheng2_box2 {float:none; margin:0 auto; width:100%; text-align:center;}
.liucheng2_box3 {float:none; margin:0 auto; text-align:center;}
.liucheng2_h {text-align:center; line-height:18px;}

.cont_box { padding-top:0;}

.huanhang1 {
    float: left;
    text-align: center;
    width: 100%;
}

.huanhang2 {
    float: left;
    text-align: center;
    width: 100%;
}
.huanhang3 {
    float: left;
    text-align: center;
    width: 100%;
}
.gb { margin-bottom:200px;}

}
@media  (max-width :530px) {
	
.miao_mima1_tb1 {width:50px;}	
.miao_fa {width:100%; margin-bottom:20px;}	
.miao_fa2 {width:100%; margin-bottom:20px;}		

/*head*/
.bag {margin-right:5px;}
.wenhao {margin-right:5px;}
.miao_order2_b8 {margin-right: 10%;}
}
@media  (max-width :470px) {
.shai_box {width:100%;}
/*dingdan*/
.miao_order2_bt {font-size:10px;}
.cont_personal_box .neirong {width:98%;}

/*mima*/
.miao_mima1 {width:100%;}
.miao_mima2 { border-left:none; width:100%; min-height:auto;}
.miao_mima3_in {margin-top:0px;}
.miao_mima2_butb.mar_t73 {margin-top:33px;}
.miao_mima3_box {padding-left:0;}
.miao_mima2_box  {padding-left:0;}

/*login*/
.miao_log_b1 {width:98%;}
.miao_log_box {width:100%; border-right:none;}
.miao_log_box2 {width:100%; margin-left:0;}
.miao_log_cl {right:10px;}
.miao_log_de {width:100%; border-right:none;}
.miao_log_de2 {width:100%; margin-left:0;}
}
@media  (max-width :465px) {

.shai_box1_tbox {width:80%;}
.miao_order2_img {width:40%; margin:0 30%;}
.miao_order2_b1 {width:100%;}
.miao_order2_b2 {width:100%;}
.miao_order2_bt {text-align:center; padding-top:0px; font-size: 12px;}
.miao_order2_b3 {width:100%;}
.miao_order2_b4 {width:100%;}
.miao_order2_wrap {padding-bottom:10px;}
.miao_order2_b8 {margin-right: 13%; text-align: center;}
}


@media  (max-width :420px) {
	.ghd.d {width:98%; max-width:98%;}
	.s_d img { width:25px; height:25px;}
}




@media  (max-width :400px) {
	.map_tlt { text-indent:16px;}
.footer_right {width:auto; float:left; margin-top:20px;}	
.footer_tu {width:131px; height:30px; float:left;}		
.footer_ti {text-align:left;}	
.shou_in {float:left; margin-top:20px; margin-right:40px;}
.shou_ti {float:left; margin-top:20px;}
.footer_an {margin-left:0px;}	
.footer {height:auto;}	
.footer_2 {height:auto; display:none;}	
.footer_2_1 {width:100%;}
.footer_2_2 { text-align:left;}
.footer_2_3 { text-align:left;}	
.footer_2_4 { text-align:left;}	
.footer_2_5 { text-align:left;}	
.footer_2_6 { text-align:left;}	
.footer_2_1_t {width:100%;}
.footer_2_2_t {width:100%;}
.footer_2_3_t {width:100%;}
.footer_2_4_t {width:100%;}
.footer_2_5_t {width:100%;}
.footer_2_6_t {width:100%;}

.footer_2_box2 {text-indent:0px;}
.footer_2_box3 {text-indent:0px;}
.footer_2_box4 {text-indent:0px;}
.footer_2_box5 {text-indent:0px;}

.foot {width:100%; height:auto; background:#000; float:left; position:relative; }


.f_line  {display:none;}
.footer_2_6 {text-align:left;}
.product_gengduo {margin-top:20px;}

.pro_content {width:100%;}
.pro_img  {height:auto;}
.pro_img img {width:100%;}
.pro_til {margin-left:0px; width:100%;}
.pad_b178 {padding-bottom:0px;}
.pro_main {width:100%;}
.pro_til_left {font-size:0.875em; width:54%;}
.pro_til_left span {font-size:0.75em;}
.s_yihan {font-size:0.75em;}
.pro_til_right {width:110px; font-size:0.875em;}
.product_box {width:100%;}
.product_box ul li {width:80%; margin-right:9%; height:auto; margin-left:9%;}
.product_box ul li .p_boximg {width:100%; height:auto; float:left;}
.pro_main {width:100%;}
.pro_titlew {width:100%;}
.pro_til {width:100%;}
.shai_box {height:auto;}
.shaixuan {height:auto;}
.shai_box1 { height:auto; width:100%; margin-bottom:20px; border-left:none;}
.shai_box1_tbox {width:80%;}
.shai_box1_t2 {float:left; right:10%;}



.shou_head {width:100%; height:auto; background:#fdfdfd; float:left;  position:relative; top:0; left:0px; z-index:99; display:none;}	
.shou_head ul {width:100%; float:left;}
.shou_head ul li {width:100%; height:60px; text-align:left; line-height:60px; text-indent:25px; font-size:0.75em; color:#fff; border-bottom:1px solid #e2e2e2; float:left;}
.shou_head ul li a {color:#372d2a; height:100%; display:block; width:100%;}
.shou_head ul li a:hover {color:#a6a6a6;}
.shou_head ul li.hei_auto {height:auto; position:relative;}
.shou_deng {width:100%; height:60px; line-height:60px; text-align:left; text-indent:25px;font-size:1.2em; color:#333; float:left;}
.shou_deng_title2 {  float: left;  line-height: normal; padding-bottom: 15px; width: 100%; text-align:left; text-indent:25px;color:#333; font-size:1.1em;}
.shou_deng_title3 {  float: left;  line-height: normal;  width: 100%; text-align:left; text-indent:25px; color:#666; font-size:1em;}
.shou_deng_b { float: left; height: auto; padding-bottom:20px; width: 100%;}
.shou_deng_in {width:90%; height:30px; border:1px solid #e2e2e2; float:left; margin-left:25px; text-align:left; line-height:30px; color:#999; font-size:1em;}
.search_box {width:100%;}
.search_box1 {width:70%;}
.search_box2 {width:20%;}
.deng_left_t3 {
    color: #666; width:100%;
    float: left; margin-bottom:10px;
    font-size:1em;
    line-height: normal;
    margin-top: 0px;
    text-decoration: underline;
}
.deng_left_t3 a {color:#949494;}
.deng_anniu {margin:20px 0; margin-left:25px; text-align:center !important; color:#fff; text-indent:0px;}
.deng_anniu a {color:#fff !important;}

.deng_anniu2 {margin:20px 0; margin-left:25px; text-align:center !important; color:#fff; text-indent:0px;}
.deng_anniu2 a {color:#fff !important;}
.deng_left_t4 {width:80%;color: #666; width:80%; float: left; margin-bottom:10px; font-size:1em; line-height: normal; padding-left:25px; text-indent:0px;}
.shou_dengbox {width:100%; height:auto; float:left;}
.triangle.seke {
    background-image: url("../images/icon.png");
    background-position: -45px -765px;
    background-repeat: no-repeat;
    height: 15px; width: 15px; position:absolute; left:70px; top:6px;
}
.triangle {
    background-image: url("../images/icon.png");
    background-position: 0 -771px; background-repeat: no-repeat;
    display: block; height: 6px; width: 9px; position:absolute; left:70px; top:12px;}
	
.footer_1 {margin-top:15px;}
	
.footer_4 {width:100%; height:auto; float:left; margin-top:26px; display:block;}
.footer_4_1_t {width:80%;}
.footer_4_2_t {width:80%;}
.footer_4_3_t {width:80%;}
.footer_4_4_t {width:80%;}
.footer_4_5_t {width:80%;}
.footer_4_6_t {width:80%;}
/*live_zixun*/
.login-box-wrap {width:100%;}
.register_box {width:100%; }
.register_wrap {width:99%; margin-left:0.5%;}
.shouji {display:block;}
.shou_width {display:none;}
.register_box1_up_right {width:70%;}
.onlin_txt {text-indent:20px;}
.register_box .box .h1.h1_sty {text-indent:20px; font-size:1.2em;}
.login-title {width:90%; padding-left:20px;}
.register_box .box {width:100%;}
.register_box222 {width:100%;}
.register_box1 {width:90%;}
.online_but {float:left;}
.tijiao_box {float:left; width:90%; display:none;}
.register_box2 {margin-left:20px; margin-top:20px; text-indent:0px;}
.register_box1_up_left {width:100%;}
.register_box1_up_right {width:90%; float:left; margin-left:20px;}
.register_box1 {height:auto;}
.register_box1_up {height:auto;}
.login-title {font-size:1.2em;}
.vip_box {width:90%; padding-left:20px; padding-bottom:20px;}

/*question*/
.question_box_til {font-size:1.2em;}
.q_txtbox_radio {height:auto;}
.q_txtbox_1 {width:40%;}
.q_txtbox_2 {width:40%;}
.bor_rinone {width:55%;}
.q_txtbox_radio1 {margin-left:5px;}
.mag_left10 {margin-left:0px;}
.no_marb {height:auto; line-height:18px; text-indent:0px; padding-left:20px; font-size:1.1em;}
.question_texar {width:90%;}
.question_texar2 {width:90%;}
.question_an {float:left;}

/*login*/
.login {width:100%; margin-left:0;}
.loginPlace_left {width:25%; letter-spacing:0px;}
.login_left {min-height:350px;}
.register_tit_le { font-size:1.5em;}
.prode_right {width:100%;}
.prode_right_box1 {padding:10px 2%;}
.prode_right_box1.right_box3 {padding-left:2%; padding-right:2%;}
.xin_dian {  margin-left:2%;}
.zhidian {padding:0 5px;}
.priceButton {
    width: 273px;
}
.price-sheet {width:113px;}
.prode_right_box1 .prode-rh1 {font-size:1.45em;}


/*brand*/
.brand_tbox2 h1 {font-size:1.5em !important;}
.brand_tbox2 h2 {width:96%;text-align:left; font-size:1.5em !important; margin: 8% 0 0 2%;letter-spacing: 0;  line-height:1.1;}
.brand_tbox2 .miaosu {width:100%;text-align:left; margin-left:0; font-size:0.8em !important; letter-spacing: 0;  line-height: 1.4;}	
.brand_tbox2 .brand_but {width:100%; text-align:center; margin-left:0; font-size:0.8em;}
.brand_tbox2 .brand_but a .brand_san {left:70%; font-size:0.6em;}
.brand_link { margin:0.8em 0 0 0; letter-spacing: 0.1125em; font-size:0.8em;}
.brand_tbox { left: 0; margin-left:0; max-width:100%; top:1em;}
.brand_tbox .miaosu {margin-top:0.8em;}

.brandDetail_h2 {font-size:1.5em !important; width:100%;}
.brandDetail_h1 {font-size:1.5em !important;}
.brandDetail_tbox2 {font-size:0.8em;}
.brand_tbox2 .miaosu.mar_auto {margin:0 auto; margin-top:0.8em;}
.pro_box1_txt {line-height:176px; font-size:20px;}

/*gerenxinxi*/
.miao_xinx_box3 {width:65%;}
.cont_personal_box .title {width:96%;}
.cont_personal_box .neirong {width:96%;}
.miao_xinx_box2 {width:90px; font-size:12px;}
.miao_xinx_box4 {width:65%; margin-left:90px; height:auto; line-height:21px;}
.miao_xin_but {margin-left:90px;}
/*add*/
.miao_add_but2 {margin-top:20px; margin-left:0px;}
.miao_add_but {width:90%; margin-top:20px;}



/*login*/
.miao_log_b1 { width:98%;}

}


.m_xdh {width:280px; height:100%; position:fixed; top:0; left:-280px; background:#000; z-index:188;}
.m_xdh ul {width:100%; height:100%; float:left;}
.m_xdh ul li {width:81.2%; height:60px;float:left; border-bottom:1px solid #999; line-height:65px; font-size:14px; padding:0 9.4%; }
.m_xdh ul li a {width:100%; height:100%; display:block; color:#fff;}
