.cont_news_box{width:100%; height:auto;margin:0px auto; padding-top: 60px;}

.news {width:100%;}
.news_box{padding-top:20px;padding-bottom:60px;}
.news_box ul {width:100%;}
.news_box ul li { height:410px; width:31%; float:left;margin-bottom:40px; margin-left:1.7%; position:relative}
.news_box ul li .news_img{ width:100%; height:100%;position:absolute; top:0px; left:0px; z-index:1;}
.news_box ul li .news_img img{ width:100%; height:100%;}
.news_box ul li .small_box{ width:50%; height:48%;position:absolute; padding:0px;z-index:2; background:#efefef;}
.news_box ul li .small_box .div_1 {width:90%; height:50px; font-size:50px;padding:0px 5%; padding-top:12px; font-family: times new roman;color:#333;}
.news_box ul li .small_box .div_2 {width:50px; height:1px; background:#8c8c8c;margin:12px 12px;}
.news_box ul li .small_box .div_3 {width:90%; height:85px;padding:0px 5%; font-size:12px;letter-spacing:2px; color:#999; overflow:hidden;}
.news_box ul li .small_box .div_4 {width:90%; height:30px;padding:0px 5%; font-size:12px;letter-spacing:2px; color:#fff; overflow:hidden; line-height:30px; display:none;}
.news_box ul li .small_box .div_4 a {width:100%; height:100%; display:block; color:#fff;}
.news_box ul li:hover .small_box{background:#3a3b3d;}
.news_box ul li:hover .small_box .div_1{color:#fff;}
.news_box ul li:hover .small_box .div_3{color:#8c8c8c; display:none;}
.news_box ul li:hover .small_box .div_4 {display:block;}

.news_box ul li .img_luo{ background:none; padding: 0px;width:50%;}
.news_box ul li:hover .img_luo{background:none;}
.news_box ul li .img_luo  img{  width:100%; height:100%; overflow:hidden}
.news_box ul li .bt{ border-top:12px solid #fff;}
.news_box ul li .bl{ border-left:12px solid #fff;}
.news_box ul li .br{ border-right:12px solid #fff;}
.news_box ul li .bb{ border-bottom:12px solid #fff;}

.news_box ul li .left_top{ left:0px; top:0px;border-right:12px solid #fff;border-bottom:12px solid #fff;}
.news_box ul li .right_top{ right:0px; top:0px; border-left:12px solid #fff;border-bottom:12px solid #fff;}
.news_box ul li .bottom_left{ bottom:0px; left:0px;border-top:12px solid #fff; border-right:12px solid #fff;}
.news_box ul li .bottom_right{ bottom:0px; right:0px;border-top:12px solid #fff;border-left:12px solid #fff;}

.news_box ul li .white{ color:#fff;}
.news_box ul li .black{ color:#000;}
.news_box ul li .right_img{ width:50%; float:right; height:100%; overflow:hidden;}
.news_box ul li .right_img img{ width:100%; height:100%; overflow:hidden;}
.news_box ul li .left{ width:45%; float:left; height:100%; overflow:hidden;}
.news_box ul li .left .left_imgs{ width:100%; float:left; height:190px; overflow:hidden;}
.news_box ul li .left .left_imgs img{ width:100%;height:100%; overflow:hidden;}
.news_box ul li .left .mb20{margin-bottom:20px;}
.news_box ul li.m0{margin-right:0px;}


.news_box ul li .small_box_two{ width:100%; height:178px; padding:12px;z-index:2; background:#efefef;float: left;}
.news_box ul li .small_box_two .div_1{width:100%; height:50px; font-size:50px;color:#333;   font-family: times new roman;}
.news_box ul li .small_box_two .div_2{width:50px; height:1px; background:#8c8c8c;margin:12px 0px;}
.news_box ul li .small_box_two .div_3{width:90%; height:86px; font-size:12px;letter-spacing:2px; color:#999; line-height:18px; overflow:hidden; }
.news_box ul li:hover .small_box_two{background:#3a3b3d;}
.news_box ul li:hover .small_box_two .div_1{color:#fff;}
.news_box ul li:hover .small_box_two .div_3{ color:#8c8c8c}



.news_alert_box{width:805px;padding-top:60px; height:1900px; position:fixed; top:0px; left:50%; margin-left:-402px; background:#fff;z-index:10}
.newsdetail_mian{position:relative; width:100%; height:auto;}
.newsdetail_mian .title_box{ width:100%; height:133px;position:relative}
.newsdetail_mian .close{ width:20px; height:20px; position:absolute; cursor:pointer; top:-20px; right:20px;background-image:url(../images/news/close.png);background-position:0px 0px;}


.newsdetail_mian .news_d_img{ width:100%; height:375px; position:relative}
.newsdetail_mian .news_d_img img{ max-width:100%; max-height:375px;}
.newsdetail_mian .news_d_img .arrow_left{ width:90px; height:165px;left:-90px; position:absolute; top:60px; color:#fff; cursor:pointer;}
.newsdetail_mian .news_d_img .arrow_left .t1{ width:100%; height:40px; line-height:40px; text-align:center;}
.newsdetail_mian .news_d_img .arrow_left .t2{ width:100%; height:120px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; background-image:url(../images/news/detail_arrow.png);background-position:-100px 0px;}
.newsdetail_mian .news_d_img .arrow_right{ width:90px; height:165px;right:-90px; position:absolute; top:60px;color:#fff; cursor:pointer;}
.newsdetail_mian .news_d_img .arrow_right .t1{ width:100%; height:40px; line-height:40px; text-align:center;}
.newsdetail_mian .news_d_img .arrow_right .t2{ width:100%; height:120px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; background-image:url(../images/news/detail_arrow.png);background-position:0px 0px;}
.newsdetail_mian .newsdetail_text{padding:1% 5% 2% 5%; width:90%; font-size:12px; line-height:24px; color:#666;letter-spacing:2px;}
.newsdetail_mian .title_box .title{ width:100%; height:45px; color:#000; font-size:20px; text-align:center;margin-top:45px;}
.newsdetail_mian .title_box .date{ width:100%; height:25px; color:#999; font-size:18px; text-align:center;margin-top:10px;}
@media only screen and (max-width: 950px){

.news_box ul li .small_box .div_1 {font-size:40px;}

 
.cont_news_box .news_box ul li { width:47.5%;margin-left:1.7%; }
.newsdetail_mian .news_d_img .arrow_left{display:none;}
.newsdetail_mian .news_d_img .arrow_right{display:none;}
body .news_alert_box{width:100%;left:0px; margin-left:0px;}
body .newsdetail_mian .news_d_img {text-align:center; height:auto}
body .newsdetail_mian .title_box .title { height:auto}
}
@media only screen and (max-width: 640px){
.cont_news_box {width:80%;}
.cont_news_box .news_box ul li {width:100%; margin-left:0px;}
.news_box ul li .small_box .div_1 {font-size:30px;}
.news_box ul li .small_box .div_2 {margin:0 12px 12px;}
.newsdetail_mian .title_box {height:100px;}
.newsdetail_mian .title_box .title {font-size:16px;}
.newsdetail_mian .close {top:0px;}
.newsdetail_mian .close {top:-30px;}

}
@media only screen and (max-width: 400px){
.newsdetail_mian .close {top:-30px;}
.news_box ul li .small_box .div_3 {height:42px;}
.news_box ul li .small_box .div_2 {margin:5px 12px;}
.news_box ul li .small_box .div_1 {height:30px;}
}