.cont_personal_wrap{
height:auto;
width:100%; padding-top:110px;

}
.cont_personal_box{
height:auto;
margin:0px auto;

margin-bottom:110px;
background-color:#FFF;

-moz-box-shadow:-1px 0 2px #e6e6e6,0 -1px 2px #e6e6e6,0 1px 2px #e6e6e6,1px 0 2px #e6e6e6;
-webkit-box-shadow:-1px 0 2px #e6e6e6,0 -1px 2px #e6e6e6,0 1px 2px #e6e6e6,1px 0 2px #e6e6e6;
box-shadow: -1px 0 2px #e6e6e6,0 -1px 2px #e6e6e6,0 1px 2px #e6e6e6,1px 0 2px #e6e6e6;}





.cont_personal_box .title{
width:1020px;
height:60px;
margin:0px auto;
border-bottom:1px solid #e2e2e2;
font-size:22px;
line-height:60px;
color:#666666;
position:relative;}
.anquansuo{
width:54px;
height:24px;
position:absolute;
right:0px;
bottom:5px;
background-image:url(../images/personal/suo.jpg);
background-repeat:no-repeat;
font-size:12px;
line-height:24px;
text-align:right;
}
.cont_personal_box .neirong{
width:1020px;
height:520px;
margin:0px auto;}

.cont_personal_box .neirong li{
width:400px;
height:100px;
margin-left:50px;
margin-bottom:30px;

list-style:none;

float:left;
}
.kc{
width:1020px;
height:67px;
margin:0px auto;}
.tupian{
width:50px;
height:100px;
float:left;
}
.bankuai{
width:75%;
height:100px;
float:left;
}
.bankuai1{
width:100%;
height:40px;
font-size:20px;
color:#111111;
line-height:32px;
letter-spacing:-1px;

}
.bankuai2{
width:100%;
height:56px;
font-size:17px;
color:#999999;
line-height:30px;
letter-spacing:-1px;

}
.bankuai3{
	width: 73px;
	height: 4px;


}
.xiahuaxian{
	border-top-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	}



 .cont_personal_box{height:auto;}
.cont_personal_box .jiezhang{width:1020px;height:auto;margin:0px auto;}
.jiezhang_title{ height:60px;background-image:url(../images/personal/jiezbg.jpg);background-repeat:repeat-x; position:relative; line-height:60px; font-size:18px; color:#000; text-indent:60px;margin-bottom:40px;}


.shuzi.shuzi2 {background-image:url(../images/module-counter-2.png);}
.shuzi.shuzi3 {background-image:url(../images/module-counter-3.png);}
.shuzi.shuzi4 {background-image:url(../images/module-counter-4.png);}
.shuzi.shuzi5 {background-image:url(../images/module-counter-5.png);}


.shuzi{ height:24px;width:24px;background-image:url(../images/module-counter-1.png);background-repeat:no-repeat; left:16px; top:19px; position:absolute}

.jiezhang .cp_box{
width:1018px;
height:auto; 
border:1px solid #e2e2e2;
overflow:hidden;
border-top:0px;
}
.jiezhang ul.border{border-top:1px solid #e2e2e2;}

.jiezhang .li_1{
width:190px;
height:100%;

float:left;
text-align:center;

line-height:140px;
}

.jiezhang .li_1 img {max-height:140px;}


.jiezhang .li_2{
width:570px;
height:100%;
padding-left:30px;

float:left;
}
.jiezhang .li_2 .biaoti{
font-size:16px;
color:#000000;margin-top:65px; margin-bottom: 10px;
}
.jiezhang .li_2 .biaoti2{
font-size:12px;
color:#666666; padding-bottom: 10px;
}
.jiezhang .li_3{width:95px;
height:100%;
text-align:center;
line-height:140px;
font-size:14px;
float:left;
color:#000000;}
.jiezhang .li_4{width:95px;
height:100%;
text-align:center;
line-height:140px;
font-size:14px;
float:left;
color:#000000;
}
.jiezhang .dibu{
width:100%;
height:135px;
border-bottom:1px solid #e2e2e2;
}
.jiezhang .dibu .anniu{
height:34px;
width:135px;
float:left;
margin-top:40px;
background-image:url("../images/personal/jiezbg.jpg");
background-repeat:repeat-x;
border:1px solid #e2e2e2;
font-size:12px;
text-align:center;
line-height:34px;
color:#666666;
}
.jiezhang .dibu .anniu2{
height:32px;
width:120px;
float:right;
margin-top:40px;
background-color:#000000; border:1px solid #000;
font-size:12px;
text-align:center; margin-right:5%;
line-height:34px;
color:#ffffff;
letter-spacing:10px;
 text-indent: 10px;
}
.jiezhang .dibu .anniu2 a {width:100%; height:100%; display:block; color:#fff; transition:all 0.5s ease-in 0s; padding:0px; text-align:center;}
.jiezhang .dibu .anniu2 a:hover {color:#000; background:#f6f6f6;}
.jiezhang .dibu .anniu2.mar_r0 {margin-right:0px;}




.jiezhang .songhuodizhi{
width:100%;
height:0px;
overflow:hidden;
}
.jiezhang .songhuodizhi .left{
width:40%;
height:auto;
margin-left:5%;
float:left;
}
.jiezhang .songhuodizhi .right{
width:40%;
height:auto;
margin-left:10%;
float:left;
}
.jiezhang .songhuodizhi .left_1{
width:100%;
height:45px;
line-height:45px;
color:#000;
font-size:12px;
float:left;

}
.jiezhang .songhuodizhi .left_1_1{
width:50%;

text-align:left;
float:left;
}
.jiezhang .songhuodizhi .left_1_2{
width:50%;
float:left;
text-align:right;
z-index:88; position:relative;
cursor:pointer;
}
.jiezhang .songhuodizhi .left_2{
width:95%;
padding-left:5%;
*margin-bottom:10px;
position:relative;
color:#000;
font-size:12px;

}
.jiezhang .songhuodizhi .left_2 input{
height:24px;
border:1px solid #d6d6d6;
margin-bottom:10px;
margin-left:1%;
float:left;padding: 3px 2px; color:#999;
width:25%;
}
.jiezhang .songhuodizhi .left_2 .input1{
width:58%;
}
.jiezhang .songhuodizhi .left_2 .input2{
width:33%;
}
.jiezhang .songhuodizhi .left_2 .input3{
width:25%;
}
.jiezhang .songhuodizhi .left_2 .input4{
width:66%;
}
.jiezhang .songhuodizhi .left_2 .input5{
width:93%;
}
.jiezhang .songhuodizhi .left_2 .input6{
width:93%;
}
.jiezhang .songhuodizhi .left_2 .input7{
width:35%;
}

.jiezhang .songhuodizhi .left_2 select{
height:32px;
border:1px solid #d6d6d6; color:#999;
margin-bottom:10px;
margin-left:4px; margin-right:6px;
float:left;padding: 3px 2px;
}
.jiezhang .songhuodizhi .left_2 .wenzi{
width:99%;
height:40px;
float:left;
padding-left:1%;
}
.jiezhang .songhuodizhi .left_2 .wenzi2{
width:99%;
height:24px;
float:left;
padding-left:1%;
}

.jiezhang .songhuodizhi .right{
width:40%;
height:auto;
margin-left:10%;
float:left;
}
.jiezhang .songhuodizhi .right1{
width:100%;
height:45px;
line-height:45px;
color:#000;
font-size:12px;
float:left;

}
.jiezhang .songhuodizhi .right_1_1{
width:50%;

text-align:left;
float:left;
}
.fl{

float:left;

}

.info-list{ font-size:12px; }
.info-list li{ list-style-type: disc; color:#333; line-height:24px;}

 .clear{ clear:both;}

.jiezhang .fukuan .hdfk_1{
width:100%;

text-align:left;
float:left;
}
.jiezhang .fukuan .hdfk_1_1{
width:100%;

text-align:left;
float:left;}
.jiezhang .fukuan{
font-size:12px;
color:#000000;
overflow:hidden;
width:100%;

height:0px;
}
.jiezhang .fukuan .hdfk_2{
width:100%;
margin-left:2%;
text-align:left;
float:left;
}
.jiezhang .fukuan .hdfk_2_1{
width:50%;
margin-top: 1%;
text-align:left;
float:left;
width:18%;
 margin-bottom: 2%;
}
.jiezhang .fukuan .hdfk_2_2{
width:50%;
margin-top: 1%;
text-align:left;
float:left;
width:18%;
 margin-bottom: 2%;
}
.jiezhang .fukuan .hdfk{
width:90%;
height:auto;
border-bottom:1px solid #e2e2e2;
float:left; margin-left:5%;
margin-bottom:10px;
}

.jiezhang .fukuan .wszf{
width:100%;
height:auto;
border-bottom:1px solid #e2e2e2;
float:left;
}


.jiezhang .fukuan .wszf a{
color:#fff;
}

.jiezhang .fukuan .wszf_1{
width:100%;

text-align:left;
float:left;
}
.jiezhang .fukuan .wszf_2{
width:100%;

text-align:left;
float:left;
margin-left: 2%;
}
.jiezhang .fukuan .wszf_2_1{
width:50%;
margin-top: 1%;
text-align:left;
float:left;
height:30px;
width:18%;
 margin-bottom: 2%;
}
.jiezhang .fukuan .wszf_2_2{
width:50%;
margin-top: 1%;
text-align:left;
float:left;
width:18%;
 margin-bottom: 2%;
}

.jiezhang .fukuan .wszf{
width:90%;
height:auto; margin-left:5%;
border-bottom:1px solid #e2e2e2;
float:left;
margin-bottom:10px;
}





.bianji_pay{display:none;}
.jiezhang .fapiao{
width:100%;
height:0px;
overflow:hidden;
}
.jiezhang .fapiao .right{
width:40%;
height:auto;
margin-left:5%;
float:left;
}
.jiezhang .fapiao .right{
width:40%;
height:auto;
margin-left:5%;
float:left;
}
.jiezhang .fapiao .right_1{
width:100%;
height:45px;
line-height:45px;
color:#000;
font-size:12px; position:relative;
float:left;

}
.jiezhang .fapiao .right_1_1{
width:50%;

text-align:left;
float:left;
}
.jiezhang .fapiao .right_1_2{
width:50%;
float:left;
text-align:right; cursor:pointer;

}
.jiezhang .fapiao .right_2{
width:95%;
padding-left:5%;


color:#000;
font-size:12px;

}
.jiezhang .fapiao .right_2 input{
height:24px;
border:1px solid #d6d6d6;
margin-bottom:10px; color:#999;
margin-left:1%;
float:left;padding: 3px 2px;
}
.jiezhang .fapiao .right_2 .input1{
width:58%;
}
.jiezhang .fapiao .right_2 .input2{
width:33%;
}
.jiezhang .fapiao .right_2 .input3{
width:25%;
}
.jiezhang .fapiao .right_2 .input4{
width:66%;
}
.jiezhang .fapiao .right_2 .input5{
width:93%;
}
.jiezhang .fapiao .right_2 .input6{
width:93%;
}
.jiezhang .fapiao .right_2 .input7{
width:35%;
}

.jiezhang .fapiao .right_2 select{
height:32px;
border:1px solid #d6d6d6;
margin-bottom:10px;
margin-left:4px; margin-right:6px;
float:left;padding: 3px 2px;
}
.jiezhang .fapiao .right_2 .wenzi{
width:99%;
height:40px;
float:left;
padding-left:1%;
}
.jiezhang .fapiao .right_2 .wenzi2{
width:99%;
height:24px;
float:left;
padding-left:1%;
}

.jiezhang .fapiao .left{
width:40%;
height:auto;
margin-left:5%;
float:left;
}
.jiezhang .fapiao .left1{
width:100%;
height:45px;
line-height:45px;
color:#000;
font-size:12px;
float:left;

}
.jiezhang .fapiao .left_1_1{
width:50%;
font-weight: bold;
text-align:left;
float:left;
}
.jiezhang .fapiao .left2{
font-size:12px;
color:#000000;

}
.jiezhang .fapiao .left2_1{
font-size:12px;
color:#999999;

}


.tktj { line-height:24px;
font-size:12px;
color:#000000;



width:100%;
height:0px;
overflow:hidden;
}
.tk_content {width:90%; padding-left:5%;}
.jiesuan_box{
padding-top:40px;
height:310px;
width:100%;
font-size:12px;
}
.jiesuan_box .jiesuan_box_left{
width:50%;
height:100%;
float:left;
}
.jiesuan_box .jiesuan_box_right{
width:220px;
height:100%;
float:right;
 
}
.jiesuan_box_left1{
height:25px;
width:100%;
float:left;
}
.jiesuan_box input{
height:23px;
border:1px solid #d6d6d6;
margin-bottom:10px;
margin-left:1%;
float:left;

}
.jiesuan_box_left1_1{
height:22px;
width:58px;
text-align:center; border:1px solid #000;
background-color:#000;
color:#ffffff;
line-height:24px;
float:left;
margin-left:10px;
}

.jiesuan_box_left1_1 a {width:100%; height:100%; display:block; color:#fff; transition:all 0.5s ease-in 0s; padding:0px; text-align:center;}
.jiesuan_box_left1_1 a:hover {color:#000; background:#f6f6f6;}





.jiesuan_box_left2{
width:40%;
height:auto;
padding-top:20px;
padding-bottom:60px;
line-height:20px;
float:left;
padding-left:10px;
}

.jiesuan_box_left3{
width:100%;
color:#000;
padding-left:10px;
line-height:18px;
float:left;
height:auto;
}
.jiesuan_box_right1{

margin-bottom:5px;
width:100%;
height:auto;

font-size:14px;
letter-spacing:1px;
color:#000;
float:right;
}





.jiesuan_box_right2{
font-size:14px;
width:100%;
height:auto;
margin-bottom:20pxpx;
margin-top:20px;
color:#000;

float:left;


}

.jiesuan_box_right2_1{

width:40%;
float:left;

}

.jiesuan_box_right2_2{

width:60%;
float:right;
text-align:right;
padding-left:0px;


}
.jiesuan_box_right1_1{
width:40%;
float:left;


}
.jiesuan_box_right1_2{
width:60%;
float:right;
text-align:right;
padding-left:0px;

}
.red{
color:#ff0000;
}

.jiezhang_box_anniu3{
height:32px;
width:158px;
float:right;
border:1px solid #000;
background-color:#000000; 
font-size:12px;
text-align:center;
line-height:34px;
color:#ffffff;
letter-spacing:1px;
}
.jiezhang_box_anniu3 a {width:100%; height:100%; display:block; color:#fff; transition:all 0.5s ease-in 0s; padding:0px; text-align:center;}
.jiezhang_box_anniu3 a:hover {color:#000; background:#f6f6f6;}


.jiesuan_box_right3{
width:100%;
height:auto;
margin-top:30px;
float:left;


}
.jiesuan_box_right3 .jiezhang .dibu{
width:1018px;
height:135px;
border-bottom:1px solid #e2e2e2;
}
.jiesuan_box_dibu{


}
.wenti_box{
width:1020px;
height:auto;
margin:0px auto;

}
.wenti_box_top{
height:200px;
width:100%;
border-bottom:1px solid #e2e2e2;
}
.wenti_box_top1{
height:93%;
width:30%;
float:left;
margin-left:3%;
}
.wenti_box_top1_1{
width:100%;
font-size:12px;
color:#000;
font-weight:bold;
line-height:18px;

margin-top:35px;

}
.wenti_box_top1_2{
font-size:12px;
width:100%;
color:#999999;

line-height:18px;
margin-top:15px;

}








.car_box_title{
width:250px;
height:15px;
float:right;
margin-top:35px;
font-size:12px;
text-align:center;
color:#000;
line-height:15px;
}

.car_box_title a{ color:#666666;}

.car_box_title1{
height:100%;
width:31%;
float:left;
margin-right:1%;
text-align:center;
border-left:1px solid #6b6b6b;
}
.car_box{
width:1018px;
height:auto; 
border:1px solid #e2e2e2;

border-top:0px;
}
.car_box a{color#000;}
.car_box .li_1{
width:190px;
height:100%;
overflow:hidden;
float:left;
text-align:center;

line-height:140px;
}
.car_box .li_1 img {max-height:136px;}
.car_box .li_2{
width:190px;
height:100%;
float:left;
}

.car_box .biaoti1 a{ color:#000;}
.car_box .biaoti1{
width:100%;
height:auto;
margin-top:55px;
line-height:20px;
color:#000;

font-size:14px;
}
.car_box_del{
width:100%;
height:12px;
margin-top: 15px;
line-height:12px;
color:#b0b0b0;

font-size:12px;
}
.car_box_del a{color:#999999;}



.car_box .li_3{
width:220px;
height:100%;
font-size:center;
color:#000;
line-height:120px;
}

.car_box .li_4{
width:110px;
height:100%;
font-size:center;
color:#000;
line-height:120px;
}
.car_box .li_5{
width:110px;
height:100%;
font-size:center;
color:#000;
line-height:120px;
padding-left:30px;
float:left;
}
.car_box .li_6{
width:110px;
height:100%;
font-size:center;
color:#000;
line-height:120px;
float:left;
}
.car_box input{
height:25px;
width:25px;
border:1px solid #d6d6d6;
font-size:center;
line-height:25px;
}

.car_box_right3{

height:auto;
margin-top:30px;
float:left;
margin-left:10px;
}

.car_box_title1 a{
 color#000;
 }
 
.car_box_anniu3{
height:32px;
width:118px;
background-color:#000000;
font-size:12px;
text-align:center;
line-height:32px;
color:#ffffff; border:1px solid #000;
letter-spacing:1px;
margin-right: 10px;
}

.car_box_anniu3 a {width:100%; height:100%; display:block; color:#fff; transition:all 0.5s ease-in 0s; padding:0px; text-align:center;}
.car_box_anniu3 a:hover {color:#000; background:#f6f6f6;}


.car_box_anniu4{
height:32px;
width:145px;
background-color:#000000;
font-size:12px;
text-align:center; border:1px solid #000;
line-height:32px;
color:#ffffff;
letter-spacing:1px;

}
.car_box_anniu4 a {width:100%; height:100%; display:block; color:#fff; transition:all 0.5s ease-in 0s; padding:0px; text-align:center;}
.car_box_anniu4 a:hover {color:#000; background:#f6f6f6;}



.car_box .car_box_left{
width:50%;
height:100%;
float:left;
}
.car_box .car_box_right{
width:220px;
height:100%;
float:right;
 
}
.car_box_left1{
height:25px;
width:100%;

}
.car_box input{
height:23px;
border:1px solid #d6d6d6;
margin-bottom:10px; text-align:center; *margin-bottom:0px;
margin-left:1%;


}
.car_box_left1_1{
height:24px;
width:60px;
text-align:center;
background-color:#000;
color:#ffffff;
line-height:24px;

margin-left:10px;
}
.car_left1_1 a{
color:#fff;}
.car_box_left2{
width:40%;
height:auto;
padding-top:20px;

line-height:20px;

padding-left:10px;
}

.car_box_left3{
width:100%;
color:#000;
padding-left:10px;
line-height:18px;
float:left;
height:auto;
}

.collection_box_right3{

height:auto;
margin-top:43px;
float:right;
 margin-right:40px;
}

.collection_box_anniu3{
height:34px;
width:120px;
background-color:#fff;
font-size:12px;
text-align:center;
line-height:34px;
color:#000; float:left;
letter-spacing:1px;
margin-right: 10px;
}
.collection_box_anniu3 a{
width:100%;
height:100%;
display:block;
color:#000;
}

.collection_box_anniu3 a:hover{
height:34px;
width:120px;
background-color:#000;
font-size:12px;
text-align:center;
line-height:34px;
color:#fff;
letter-spacing:1px;
margin-right: 10px;

}
.Other_favorites{
width:205px; 
height:40px;
text-align:center;
color:#000; float:left;
line-height:40px;
font-size:14px;
border:1px solid #e2e2e2;


}
.Other_favorites a{
color:#000;
}

.car_box .biaoti1 a:hover{
text-decoration:underline;

}
.car_box_del a:hover{
text-decoration:underline;

}

.jiesuan_box_right3 {
    float: left;
    height: auto;
    margin-top: 30px;
    width: 100%;
}

.car_box_anniu5 {
    background-color: #000000;
    color: #ffffff;
    float: right;
    font-size: 12px; border:1px solid #000;
    height: 32px;
    letter-spacing: 1px;
    line-height: 32px;
    text-align: center;
    width: 118px;
}
.car_box_anniu5 a { color: #ffffff; transition:all 0.5s ease-in 0s;}
.car_box_anniu5 a:hover { color: #000; background:#fff;}


.car_box .car_box2 {width:75%; height:auto;    float:left;  margin-left:30px;}
.car_box .car_box2 .car_box3 {width:100%; height:auto; float:left; text-align:left; line-height:18px; font-size:12px; padding-bottom:10px;}
.car_box .car_box2 .car_box3 span {color:#000;}


.jiezhang .li_2 .car_box3 {width:100%; height:auto; float:left; text-align:left; line-height:18px; font-size:12px; padding-bottom:10px; padding: 5px 0px;}
.jiezhang .li_2 .car_box3 span {color:#000;} 

.miao_da {width:100%; height:auto; float:left; margin-top:40px; margin-bottom:140px;}

@media only screen and (min-width: 640px) and (max-width: 1080px){

.cont_personal_box{width:100%;}
.page .cont_personal_box .jiezhang{width:94%;}
.page .cont_personal_box .jiezhang .car_box{width:100%;}
.page .cont_personal_box .jiezhang .dibu{width:99%;}
.page .cont_personal_box .jiezhang .cp_box{width:99%; overflow:hidden;}
.page .cont_personal_box .wenti_box{width:99%;}
.page .cont_personal_box .title{width:94%;}

.page .cont_personal_box .jiezhang .li_1{width:18%; }

.page .cont_personal_box .jiezhang .car_box .li_1 a img {max-height:100%; max-width:100%;}
.page .cont_personal_box .jiezhang .li_2{width:55%;}
.page .cont_personal_box .jiezhang  .car_box .li_2{width:18%;}
.page .cont_personal_box .jiezhang .li_3{width:10%;}
.page .cont_personal_box .jiezhang .li_4{width:12%; font-size:12px;}
.page .cont_personal_box .jiezhang .li_5{width:10%;}
.page .cont_personal_box .jiezhang .li_6{width:10%;}
.page .cont_personal_box .jiezhang .li_6{width:20%;}

.page .jiezhang .fukuan .wszf_2_1 img{max-width:80%;}

.page .cont_personal_box .neirong{width:94%;}
.page .cont_personal_box .kc{width:94%;}
.page  .cont_personal_box .neirong li{margin-left:5%;width:38%}

}
@media only screen and (max-width: 700px){
.page .cont_personal_box .jiezhang .li_2 {width:45%;}
}



@media only screen and (max-width: 640px){
.jiezhang ul.border {border:none;}
.jiezhang ul.border {border:none;}
.Other_favorites {float:none; margin:0 auto;}
.cont_personal_box{width:100%;margin-bottom:40px;}
.page .cont_personal_box .jiezhang{width:94%;}
.page .cont_personal_box .jiezhang .dibu{width:99%;}
.page .cont_personal_box .jiezhang .cp_box{width:99%;  height:auto;}
.page .cont_personal_box .wenti_box{width:99%;}
.page .cont_personal_box .title{width:94%;}
.page .cont_personal_box .jiezhang .car_box{width:94%; height:auto;margin:0px auto; }
.page .cont_personal_box .jiezhang .li_1{width:60%; height:auto; margin:0 20%;}
.page .cont_personal_box .jiezhang .li_1 img{max-width:100%;}
.page .cont_personal_box .jiezhang .li_2{width:90%; height:auto; margin:0 5%; text-align:center;}
.page .cont_personal_box .jiezhang .li_3{width:90%; height:auto; margin:0 5%; text-align:center;}
.page .cont_personal_box .jiezhang .li_4{width:90%; height:auto; margin:0 5%; text-align:center;}
.jiezhang .li_2 {padding-left:0px;}
.jiezhang .li_2 .biaoti {margin-top:0px;}
.jiezhang .li_3 {line-height:normal; padding:10px 0px;}
.jiezhang .li_4 {line-height:normal; padding:10px 0px;}
.jiezhang ul.border {
    border:none;
}
.jiezhang .songhuodizhi {padding-bottom:30px;}
.page .cont_personal_box .jiezhang .cp_box {height:auto; overflow:hidden;}
.page .cont_personal_box .jiezhang  .car_box .li_1{width:100%; overflow:hidden; margin:0px;}
.page .cont_personal_box .jiezhang  .car_box .li_1 img{max-width:100%}
.page .cont_personal_box .jiezhang  .car_box .li_2{width:100%; height:70px;text-align:center; margin:0;}
.page .cont_personal_box .jiezhang  .car_box .biaoti1{ margin-top:0px;}
.page .cont_personal_box .jiezhang  .car_box .li_3{width:100%; height:auto; line-height:30px; text-align:center;padding-left: 0px; margin:0; padding:0;}
.page .cont_personal_box .jiezhang  .car_box .li_4{width:100%; height:auto; line-height:30px; text-align:center;padding-left: 0px; margin:0; padding:0;}
.page .cont_personal_box .jiezhang  .car_box .li_5{width:100%; height:auto; line-height:30px; text-align:center;padding-left: 0px; margin:0;}
.page .cont_personal_box .jiezhang  .car_box .li_6{width:100%; height:auto; line-height:30px; text-align:center;padding-left: 0px; margin:0;}

.page .jiezhang .li_2 .biaoti{ font-size:14px;}

.page  .jiezhang .songhuodizhi .left{width:95%}
.page  .jiezhang .songhuodizhi .right{width:80%}
.page .jiezhang .fukuan .hdfk_2_1{width:50%;}
.page .jiezhang .fukuan .hdfk_2_2{width:50%;}
.page .jiezhang .fukuan .wszf_2_1{width:50%;}
.page .jiezhang .fukuan .wszf_2_1 img{max-width:80%;}


.page .jiezhang .fapiao .left{width:95%}
.page .jiezhang .fapiao .right{width:95%}

.page .jiesuan_box .jiesuan_box_left{width:100%}
.page .jiesuan_box .jiesuan_box_right{width:100%}
.page .wenti_box_top1{width:93%;margin-bottom: 30px;}
.page .wenti_box_top{height:auto; padding-bottom:30px;}




.page .cont_personal_box .neirong{width:94%;}
.page .cont_personal_box .kc{width:94%;}
.page  .cont_personal_box .neirong li{margin-left:5%;width:95%}
.page  .cont_personal_box .jiesuan_box {height:auto}
.page  .jiesuan_box .car_box_left2 {padding-left:5px; width:95%;}
.page  .jiesuan_box .jiesuan_box_left2 {padding-left:5px; width:95%;}
.page  .jiesuan_box_right {padding-left:5px; width:95%;padding-top:30px;padding-bottom:30px;}
.page  .collection_box_right3{margin:0px auto;  height:34px;width:120px;float:none;}
.car_box .car_box2 {width: 76%; margin-left: 12%; }
.car_box .car_box2 .car_box3 {text-align: center;}

.jiezhang .li_2 .car_box3 {text-align: center;}

}
@media  (max-width :470px) {
.cont_personal_box .title { height:auto;}
.car_box_title {float:none; margin-bottom:10px;}
}
@media only screen and (max-width: 400px){
.page .car_box_title{margin-top:10px;}

}


