<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
  {insert_scripts files='../js/utils.js,../js/region.js,../js/shopping_flow.js'}
  <script type="text/javascript">
              region.isAdmin = true;
       
            </script>
<script>
function getRandomString(len) {
    len = len || 32;
    var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
    var maxPos = $chars.length;
    var str = '';
    for (i = 0; i < len; i++) {
        str += $chars.charAt(Math.floor(Math.random() * maxPos));
    }
    return str;
}
function addOrder(obj)

{

var src = obj.parentNode.parentNode;

var idx = rowindex(src);

var tbl = document.getElementById('gallery-table');

var row = tbl.insertRow(idx + 1);

var cell = row.insertCell(-1);
cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addOrder)(.*)(\[)(\+)/i, "$1removeImg$3$4-");

}


/**

* 删除图片上传

*/

function removeImg(obj)

{

var row = rowindex(obj.parentNode.parentNode);

var tbl = document.getElementById('gallery-table');

tbl.deleteRow(row);

}

function deletImg(id){

  if(confirm("您确定要删除该图片吗?")){
  
    location.href="home.php?act=deleteimg&id="+id;
  
  }
 

}
</script>
<div class="main-div">
<form action="home.php" method="post" name="theForm" enctype="multipart/form-data">
  <table width="100%" id="general-table">
    <tr>
      <td  class="label">
       标题：</td>
      <td>
        <input type="text" name="title" value="{$ads.title}" size="35" />
 
      </td>
    </tr>

 

    <tr>
      <td  class="label">描述：</td>
      <td>
       <textarea name="brand_des" rows="10" cols="50">{$brand_des}</textarea>
      </td>
    </tr>
	

		

	   
		    <tr>
      <td  class="label">文字层是否显示：</td>
      <td>
       <select name="isshow">
	    <option value="1" {if $ads.isshow eq 1} selected {/if}>显示</option>
		 <option value="0" {if $ads.isshow eq 0} selected {/if}>不显示</option>
	   </select>
      </td>
    </tr>
		    <tr>
      <td  class="label">排序：</td>
      <td>
        <input type="text" name="resort" value="{$ads.resort}" size="35" />
      </td>
    </tr>
		    <tr>
      <td  class="label">文字层偏移速度：</td>
      <td>
        <input type="text" name="sudu" value="{$ads.sudu}" size="35" />
      </td>
    </tr>
	   
    <tr>
	 
      <td  class="label">PC大图片：</td>
      <td>
        <input type="file" name="file" size="35" />
		{if $ads.images neq ''}
		   <img src="../{$ads.thump_o}" />  <input type="button" value="删除图片" onclick="deletImg({$ads.id})" >
		{/if}
      </td>
    </tr>
	
	    <tr>
	 
      <td  class="label">手机大图片：</td>
      <td>
        <input type="file" name="file" size="35" />
		{if $ads.thump_mp neq ''}
		   <img src="../{$ads.thump_mp}" />  <input type="button" value="删除图片" onclick="deletImg({$ads.id})" >
		{/if}
      </td>
    </tr>
	
		    <tr>
	 
      <td  class="label">手机小图片：</td>
      <td>
        <input type="file" name="file" size="35" />
		{if $ads.thump_sm_mp neq ''}
		   <img src="../{$ads.thump_sm_mp}" />  <input type="button" value="删除图片" onclick="deletImg({$ads.id})" >
		{/if}
      </td>
    </tr>
	
	
    <tr>
       <td class="label">&nbsp;</td>
       <td>
        <input type="submit" value="{$lang.button_submit}" class="button" />
        <input type="reset" value="{$lang.button_reset}" class="button" />
        <input type="hidden" name="act" value="{$form_act}" />
        <input type="hidden" name="id" value="{$ads.id}" />
      </td>
    </tr>
 </table>

</form>
</div>

{include file="pagefooter.htm"}
