<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
  {insert_scripts files='../js/utils.js,../js/region.js,../js/shopping_flow.js'}
  <script type="text/javascript">
              region.isAdmin = true;
       
            </script>
<script>
function getRandomString(len) {
    len = len || 32;
    var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
    var maxPos = $chars.length;
    var str = '';
    for (i = 0; i < len; i++) {
        str += $chars.charAt(Math.floor(Math.random() * maxPos));
    }
    return str;
}
function addOrder(obj)

{

var src = obj.parentNode.parentNode;

var idx = rowindex(src);

var tbl = document.getElementById('gallery-table');

var row = tbl.insertRow(idx + 1);

var cell = row.insertCell(-1);
cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addOrder)(.*)(\[)(\添加)/i, "$1removeImg$3$4移除");

}


function checkDefault(obj){

 var defautbox=document.getElementsByName("default_show[]");
 var checkboxval=document.getElementsByName("checkboxvalue[]");
 var editdefualtbox=document.getElementsByName("default_show_edit[]");
  var editcheckboxval=document.getElementsByName("checkboxvalue_edit[]");
 for(var i=0;i<defautbox.length;i++){
     if(obj!==defautbox[i]){
     if(defautbox[i].checked==true){
	 
	   defautbox[i].checked=false;
	    defautbox[i].value=0;
		checkboxval[i].value=0;
	 }
	 }
 
 }
 if(editdefualtbox.length>0){
  for(var t=0;t<editdefualtbox.length;t++){
  if(obj!==editdefualtbox[t]){
     if(editdefualtbox[t].checked==true){
	 
	    editdefualtbox[t].checked=false;
	    editdefualtbox[t].value=0;
		editcheckboxval[t].value=0;
	 }
	 
	 }
 
 }
 }
 
 
 if(obj.checked==true){
obj.checked=true;
obj.value=1;
obj.nextSibling.value=1;

}else{
obj.checked=false;
obj.value=0;
obj.nextSibling.value=0;

}

}


/**

* 删除图片上传

*/

function removeImg(obj)

{

var row = rowindex(obj.parentNode.parentNode);

var tbl = document.getElementById('gallery-table');

tbl.deleteRow(row);

}

function deletItem(id){

  if(confirm("您确定要删除该图片吗?")){
     Ajax.call('cat_image.php', 'id=' + id+'&act=deleteitem', removeItem, 'POST', 'JSON');
    //location.href="home.php?act=deleteimg&id="+id;
  
  }
 

}

function removeItem(result){

    if(result.err==0){
	
	  alert("删除失败!");
	
	}else{
	
	 if(result.id>0){
	
	 	 var obj=document.getElementById("item_"+result.id);
	
	   var row = rowindex(obj);

var tbl = document.getElementById('gallery-table');

tbl.deleteRow(row);
	 }

	}


}



function deletImg2(id){

  if(confirm("您确定要删除该图片吗?")){
  
    location.href="home.php?act=deleteimg2&id="+id;
  
  }
 

}
function deletImg3(id){

  if(confirm("您确定要删除该图片吗?")){
  
    location.href="home.php?act=deleteimg3&id="+id;
  
  }
 

}


function vi_show(obj){
    if(obj.value==0){
	  dc('vi_url1').style.visibility='collapse';
	  dc('vi_url2').style.visibility='collapse';
	  dc('vi_url3').style.visibility='collapse';

	}else{

	    dc('vi_url3').style.visibility='visible';
		dc('vi_url1').style.visibility='visible';
		dc('vi_url2').style.visibility='visible';

	}
}
function dc(id){
    return document.getElementById(id);
}


function removeDz(id,tid,tc,gid){

  if(confirm("您确定要删除该图片吗?")){
  
  var args = "act=remove&id=" + id +"&ids=" + tid +"&ctype=" + tc+"&gid=" + gid
     Ajax.call('jk.php', args, removeCate, 'POST', 'JSON');
    //location.href="home.php?act=deleteimg&id="+id;
  
  }
 

}

function removeCate(result){

 window.parent.frames["main-frame"].location="jk.php?act=add&id="+result.id+"&type_c="+result.c_type+"&gid="+result.gid;

}


function searchVal(){
  var productVal=document.getElementById("productID").value;
  var objlist=document.getElementsByName("number_e[]");
  for(var i=0;i<objlist.length;i++){
     if(objlist[i].value==productVal){
	  window.parent.frames["main-frame"].document.documentElement.scrollTop=objlist[i].parentNode.parentNode.offsetTop;
	  objlist[i].style.border="2px solid red";
	 }else{
	  objlist[i].style.border=" ";
	 }
  }
}

</script>



<div class="main-div" id="main-div-c">

<form action="cat_image.php" method="post" name="theForm" enctype="multipart/form-data">
  <table width="100%" id="general-table">
    <tr>
      <td  class="label">
       标题(中)：</td>
      <td>
        <input type="text" name="title" value="{$glinfo.title}" size="35" />
 
      </td>
    </tr>

    <tr>
      <td  class="label">
     标题(英)：</td>
      <td>
        <input type="text" name="entitle" value="{$glinfo.entitle}" size="35" />
 
      </td>
    </tr>

	
	
			    <tr>
      <td  class="label">封面小图</td>
      <td>
      <input type="file" name="files" />{if $glinfo.images_t neq ''}<img src="../{$glinfo.images_t}" width="100px" height="50px" />{/if}
	   <input type="hidden" name="images" value="{$glinfo.image}" />
	    <input type="hidden" name="images_t" value="{$glinfo.images_t}" />
      </td>
    </tr>	
    <tr>
       <td class="label">&nbsp;</td>
       <td>
       {if $form_act neq "update"} <input type="submit" value="添加" class="button" /> {else} <input type="submit" value="修改" class="button" /> {/if}
        <input type="reset" value="{$lang.button_reset}" class="button" />
        <input type="hidden" name="act" value="{$form_act}" />
		<input type="hidden" name="id" value="{$id}" />
		<input type="hidden" name="type" value="{$type}" />
		
      </td>
    </tr>
 </table>

</form>
</div>


<div class="list-div" id="listDivs">

<form action="cat_image.php" method="post" name="theForm" enctype="multipart/form-data">
 
 <table  width="90%" id="gallery-table"  align="center">
		      <caption style="text-align:left;font-size:16px">图集</caption>
		     <tr>
            <td  style="border-bottom:1px solid #bbdde5; padding:20px 0px;">
              <a href="javascript:;" style="color:blue;" onclick="addOrder(this)">[添加]</a><br/>
			    <input type="hidden" value="1"  name="hidval[]" />
                图片:<input type="file" name="attr_jdl[]" />(宽1920px*高1200px)<br/>
				显示顺序：<input type="text" value=""  name="attr_resort[]" /><br/>
			  </td>
             </tr>
			 
			 

				{foreach from=$attrlist item=vs}
			

						     <tr id="item_{$vs.id}">
            <td  style="border-bottom:1px solid #bbdde5; padding:20px 0px;">
              <a href="javascript:;" onclick="deletItem({$vs.id},this)" style="color:red">删除</a><br/>
	
			   图片:<input type="file" name="attr_jdl_e[]" /><input type="hidden" value="{$vs.images}" name="jd_hide_l[]" /><input type="hidden" value="{$vs.images_t}" name="jd_hide_l_t[]" />{if $vs.images_t neq ""}<img src="../{$vs.images_t}" width="50px" height="50px"  />{/if}(宽1920px*高1200px)<br/>
			   显示顺序：<input type="text" value="{$vs.resort}"  name="attr_resort_e[]" /><br/>
		
			  </td>
			  <input type="hidden" value="{$vs.id}" name="jd_id[]" />
             </tr>
		
					
				{/foreach} 
         
    <tr>
      
       <td  align="center">

        <input type="submit" value="{$lang.button_submit}" class="button" />
        <input type="reset" value="{$lang.button_reset}" class="button" />
        <input type="hidden" name="act" value="attr_add" />
        <input type="hidden" name="ids" value="{$id}" />
		 <input type="hidden" name="types" value="{$type}" />
      </td>
    </tr>
        </table>
</form>
</div>

{include file="pagefooter.htm"}
