<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
 {insert_scripts files='../js/region.js,../js/shopping_flow.js'}

  <script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
              region.isAdmin = true;
       
            </script>
<script>
function getRandomString(len) {
    len = len || 32;
    var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
    var maxPos = $chars.length;
    var str = '';
    for (i = 0; i < len; i++) {
        str += $chars.charAt(Math.floor(Math.random() * maxPos));
    }
    return str;
}
function addOrder(obj)

{

var src = obj.parentNode.parentNode;

var idx = rowindex(src);

var tbl = document.getElementById('gallery-table');

var row = tbl.insertRow(idx + 1);

var cell = row.insertCell(-1);
cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addOrder)(.*)(\[)(\+)/i, "$1removeImg$3$4-");

}


/**

* 删除图片上传

*/

function removeImg(obj)

{

var row = rowindex(obj.parentNode.parentNode);

var tbl = document.getElementById('gallery-table');

tbl.deleteRow(row);

}
function delet(id){

  if(confirm("您确定要删除该条数据吗?")){
   
	 location.href="glasses_pack.php?act=delet&id="+id;
  }
}

function deletImg(id){

  if(confirm("您确定要删除该图片吗?")){
   

    location.href="glasses_pack.php?act=deleteimg&id="+id;
     
  }
 

}


</script>
<div class="main-div">
<form action="glasses_pack.php" method="post" name="theForm" enctype="multipart/form-data">
  <table width="100%" id="general-table" >
     <caption style="text-align:left;font-size:16px;padding-left:10px">{if $ads.id eq 1}镜袋{else}镜盒{/if}</caption>
      <td  class="label">
       中文系列标题：</td>
      <td>
        <input type="text" name="title" value="{$ads.title}" size="35" />
        
      </td>
    </tr>
	    <tr>
	
      <td  class="label">
       英文系列标题：</td>
      <td>
        <input type="text" name="en_title" value="{$ads.en_title}" size="35" />
        
      </td>
	  </tr>
	  <tr>
	   <td  class="label">
       排序：</td>
      <td>
        <input type="text" name="resort" value="{$ads.resort}" size="15" />
      </td>
    </tr>
	 
	    <tr>
      <td  class="label">
       中文描述：</td>
      <td>
	     <textarea name="content" cols="60" rows="5">{$ads.content}</textarea>
      </td>
    </tr>
	    <tr>
      <td  class="label">
       英文描述：</td>
      <td>
	     <textarea name="en_content" cols="60" rows="5">{$ads.en_content}</textarea>
      </td>
    </tr>
	

	
    <tr> <td colspan="2" class=".tianjia">
	{if $action eq "add"}
       <table width="90%" id="gallery-table"  align="center">
	  <!-- <caption style="text-align:left;font-size:16px">包装图片列表</caption>-->
          <tr>
            <td style="border-bottom:1px solid #bbdde5; padding:20px 0px;">
			
              <a href="javascript:;" onclick="addOrder(this)">[+]</a>
			   中文标题：<input type="text" name="zj_title[]" size="35"/><br/>
			   英文标题：<input type="text" name="zj_title_en[]" size="35"/><br/>
			   中文描述： <textarea name="zj_content[]" cols="60" rows="5"></textarea><br/>
			   英文描述：<textarea name="zj_content_en[]" cols="60" rows="5"></textarea><br/>
			   排序：<input type="text" name="zj_resort[]" size="15"/><br/>
               图片：<input type="file" name="zj_file[]"/><!--<span style="color:#FF0000">PC端宽1920*高1080</span>--><br/>
			      </td>
             </tr>
        </table>
		{else}
	       <table  width="90%" id="gallery-table"  align="center">
		     <!-- <caption style="text-align:left;font-size:16px">包装图片列表</caption>-->
		     <tr>
            <td  style="border-bottom:1px solid #bbdde5; padding:20px 0px;">
              <a href="javascript:;" onclick="addOrder(this)">[+]</a>
			   中文标题：<input type="text" name="z_zj_title[]" size="35"/><br/>
			   英文标题：<input type="text" name="z_zj_title_en[]" size="35"/><br/>
			     中文描述：<br/> <textarea name="z_zj_content[]" cols="60" rows="5"></textarea><br/>
			   英文描述：<br/><textarea name="z_zj_content_en[]" cols="60" rows="5"></textarea><br/>
			   排序：<input type="text" name="z_zj_resort[]" size="15"/><br/>
               图片：<input type="file" name="z_zj_file[]"/><!--<span style="color:#FF0000">PC端宽1920*高1080</span>--><br/>
			      </td>
             </tr>
		  {foreach from=$child item=ch}  
          <tr>
            <td style="border-bottom:1px solid #bbdde5; padding:20px 0px;">
			   <a href="javascript:;" onclick="delet({$ch.id})">[-]</a>
			   中文标题：<input type="text" name="zj_title[]" size="35" value="{$ch.child_title}"/><br/>
			   英文标题：<input type="text" name="zj_title_en[]" size="35" value="{$ch.child_title_en}"/><br/>
			 
			    中文描述：<br/><textarea name="zj_content[]" cols="60" rows="5">{$ch.content}</textarea><br/>
			   英文描述：<br/><textarea name="zj_content_en[]" cols="60" rows="5">{$ch.content_en}</textarea><br/>
			   显示排序：<input type="text" name="zj_resort[]" size="15" style="width:80px" value="{$ch.resort}"/><br/>
			
               {if $ch.image}<img src="../{$ch.image_m}"/><input type="button" value="删除图片" onclick="deletImg({$ch.id})"/><br/>{/if}
			   图片:<input type="file" name="zj_file[]"/><!--<span style="color:#FF0000">pc端宽1920*高1080</span>--><br/>
			 
			      </td>
             </tr>		
			 {/foreach}
        </table>

		{/if}
	</td>
</tr>
	
	

		

	
	
    <tr>
       <td class="label">&nbsp;</td>
       <td>
        <input type="submit" value="{$lang.button_submit}" class="button" />
        <input type="reset" value="{$lang.button_reset}" class="button" />
        <input type="hidden" name="act" value="{$form_act}" />
        <input type="hidden" name="id" value="{$ads.id}" />
      </td>
    </tr>
 </table>

</form>
</div>

{include file="pagefooter.htm"}
