<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
  {insert_scripts files='../js/utils.js,../js/region.js,../js/shopping_flow.js'}
  <script type="text/javascript">
              region.isAdmin = true;
       
            </script>
<script>
function getRandomString(len) {
    len = len || 32;
    var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
    var maxPos = $chars.length;
    var str = '';
    for (i = 0; i < len; i++) {
        str += $chars.charAt(Math.floor(Math.random() * maxPos));
    }
    return str;
}
function addOrder(obj)

{

var src = obj.parentNode.parentNode;

var idx = rowindex(src);

var tbl = document.getElementById('gallery-table');

var row = tbl.insertRow(idx + 1);

var cell = row.insertCell(-1);
cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addOrder)(.*)(\[)(\添加)/i, "$1removeImg$3$4移除");

}


/**

* 删除图片上传

*/

function removeImg(obj)

{

var row = rowindex(obj.parentNode.parentNode);

var tbl = document.getElementById('gallery-table');

tbl.deleteRow(row);

}

function deletItem(id){

  if(confirm("您确定要删除该图片吗?")){
     Ajax.call('jk.php', 'id=' + id+'&act=deleteitem', removeItem, 'POST', 'JSON');
    //location.href="home.php?act=deleteimg&id="+id;
  
  }
 

}
function checkDefault(obj){

if(obj.checked==true){
obj.checked=true;
obj.value=1;

}else{
obj.checked=false;
obj.value=0;

}
}
function removeItem(result){

    if(result.err==0){
	
	  alert("删除失败!");
	
	}else{
	
	 if(result.id>0){
	
	 	 var obj=document.getElementById("item_"+result.id);
	
	var row = rowindex(obj);

var tbl = document.getElementById('gallery-table');

tbl.deleteRow(row);
	 }

	}


}



function deletImg2(id){

  if(confirm("您确定要删除该图片吗?")){
  
    location.href="home.php?act=deleteimg2&id="+id;
  
  }
 

}
function deletImg3(id){

  if(confirm("您确定要删除该图片吗?")){
  
    location.href="home.php?act=deleteimg3&id="+id;
  
  }
 

}


function vi_show(obj){
    if(obj.value==0){
	  dc('vi_url1').style.visibility='collapse';
	  dc('vi_url2').style.visibility='collapse';
	  dc('vi_url3').style.visibility='collapse';

	}else{

	    dc('vi_url3').style.visibility='visible';
		dc('vi_url1').style.visibility='visible';
		dc('vi_url2').style.visibility='visible';

	}
}
function dc(id){
    return document.getElementById(id);
}


function removeDz(id,tid,tc){

  if(confirm("您确定要删除该图片吗?")){
  
  var args = "act=remove&id=" + id +"&ids=" + tid;
     Ajax.call('jp.php', args, removeCate, 'POST', 'JSON');
    //location.href="home.php?act=deleteimg&id="+id;
  
  }
 

}

function removeCate(result){

 window.parent.frames["main-frame"].location="jp.php?act=add&id="+result.id;

}


function checkAll(obj){
var names=obj.name+"_c";
 var checkboxs=document.getElementsByName(""+names);
if(obj.checked==false){


 for (var i=0;i<checkboxs.length;i++) {
  var e=checkboxs[i];
  if(e.checked==true){
  e.nextSibling.value="";
  e.checked=false
  }else{
  e.nextSibling.value=e.value;
   e.checked=true
  }
 }
}else{


 for (var i=0;i<checkboxs.length;i++) {
  var e=checkboxs[i];
  if(e.checked==false){
    e.nextSibling.value=e.value;
  e.checked=true
  }else{
  e.nextSibling.value="";
   e.checked=false
  }
 }

}

}
function checkItem(obj){

 if(obj.checked==true){
obj.checked=true;
obj.nextSibling.value=obj.value;
}else{
obj.checked=false;
obj.nextSibling.value="";
if(obj.nextSibling.nextSibling.checked==true){
obj.nextSibling.nextSibling.checked=false;
document.getElementById("defaultid").value="";
}
}

}
function checkDefault(obj){
 var defautbox=document.getElementsByName("default_show[]");
 for(var i=0;i<defautbox.length;i++){
     if(obj!==defautbox[i]){
     if(defautbox[i].checked==true){
	 
	   defautbox[i].checked=false;
	   
	 }
	 }
 
 }
 if(obj.checked==true){
 var nams="item_"+obj.value+"_c";

 var nobjs=document.getElementById(nams);
 if(nobjs.checked==false){
 
    alert("改镜片未设置成该镜框的配置镜片，默认设置失败!");
	obj.checked=false;
 }else{
obj.checked=true;
document.getElementById("defaultid").value=obj.value;
}

}else{
obj.checked=false;
document.getElementById("defaultid").value="";

}

}
</script>
<div class="list-div" id="listDiv">
 <form action="set_jp.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
  {foreach from=$glaslist item=vo}
  <table width="100%" cellspacing="1" cellpadding="3">
  <caption style="font-size:16px;">{$vo.cat_name}</caption>
     <tr>
      <th>镜片代码</th>
      <th>镜片标题</th>
	  <th>镜片颜色</th>
	  <th>缩略图</th>
	    <th>镜片标识</th>
	  <th>排序</th>
	  <th>操作</th>
    </tr>
  {foreach from=$vo.childs item=vb}
   <tr>
     <td colspan="7" align="left" style="font-weight:bold; font-size:14px;">{$vb.cat_name}</td>
   
   </tr>
    {foreach from=$vb.childs item=vs}
	   <tr>

     <td colspan="7" align="left" style="padding-left:20px;">{$vs.cat_name}</td>
   </tr>
    {foreach from=$vs.gl_list item=list}
    <tr align="center">
	 <td align="center">{$list.number}</td>
      <td align="center">{$list.title}</td>
     <td align="center">{if $list.color_img neq ""}<img src="../{$list.color_img}" width="50px" height="50px" />{else}暂无颜色{/if}</td>
	   <td align="center">{if $list.img_c neq ""}<img src="../{$list.img_c}" width="50px" height="50px" />{else}暂无颜色{/if}</td>
	    	        <td align="center">{$list.dz_label}</td> 
      <td align="center">{$list.resort}</td>

	      <td align="center">
          选择镜片<input type="checkbox" {if $list.checked=="checked"} checked="checked" {/if} onclick="checkItem(this);" value="{$vo.cat_id}-{$vb.cat_id}-{$vs.cat_id}-{$list.id}" id="item_{$list.id}_c" name="item_{$vo.cat_id}_c" /><input type="hidden" value=" {if $list.checked=='checked'}{$list.level}{/if} " name="jp_val[]"  />设为默认<input {if $list.id eq $defaultid} checked="checked" {/if} type="checkbox" name="default_show[]" value="{$list.id}"  onclick="checkDefault(this)" />
         </td>
    </tr>
	  {/foreach}
      {/foreach}
  {/foreach}
  </table>
  {/foreach}
  <table>
    <tr>
	  <td align="center"> 
	  	    <input type="hidden" id="defaultid" name="defaultid" value="{$defaultid}" />
	    <input type="hidden" name="ids" value="{$ids}" />
		      <input type="hidden" name="act" value="{$form_act}" />
        <input type="submit" value="{$lang.button_submit}" class="button" />
        <input type="reset" value="{$lang.button_reset}" class="button" /></td>
		
	</tr>
  </table>
  
  </form>
</div>






{include file="pagefooter.htm"}
