<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
  {insert_scripts files='../js/utils.js,../js/region.js,../js/shopping_flow.js'}
  <script type="text/javascript">
              region.isAdmin = true;
       
            </script>
<script>
function getRandomString(len) {
    len = len || 32;
    var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
    var maxPos = $chars.length;
    var str = '';
    for (i = 0; i < len; i++) {
        str += $chars.charAt(Math.floor(Math.random() * maxPos));
    }
    return str;
}
function addOrder(obj)

{

var src = obj.parentNode.parentNode;

var idx = rowindex(src);

var tbl = document.getElementById('gallery-table');

var row = tbl.insertRow(idx + 1);

var cell = row.insertCell(-1);
cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addOrder)(.*)(\[)(\添加)/i, "$1removeImg$3$4移除");

}


/**

* 删除图片上传

*/


function checkDefault(obj){

 var defautbox=document.getElementsByName("default_show[]");
 var checkboxval=document.getElementsByName("checkboxvalue[]");
 var editdefualtbox=document.getElementsByName("default_show_edit[]");
  var editcheckboxval=document.getElementsByName("checkboxvalue_edit[]");
 for(var i=0;i<defautbox.length;i++){
     if(obj!==defautbox[i]){
     if(defautbox[i].checked==true){
	 
	   defautbox[i].checked=false;
	    defautbox[i].value=0;
		checkboxval[i].value=0;
	 }
	 }
 
 }
 if(editdefualtbox.length>0){
  for(var t=0;t<editdefualtbox.length;t++){
  if(obj!==editdefualtbox[t]){
     if(editdefualtbox[t].checked==true){
	 
	    editdefualtbox[t].checked=false;
	    editdefualtbox[t].value=0;
		editcheckboxval[t].value=0;
	 }
	 
	 }
 
 }
 }
 
 
 if(obj.checked==true){
obj.checked=true;
obj.value=1;
obj.nextSibling.value=1;

}else{
obj.checked=false;
obj.value=0;
obj.nextSibling.value=0;

}

}



function removeImg(obj)

{

var row = rowindex(obj.parentNode.parentNode);

var tbl = document.getElementById('gallery-table');

tbl.deleteRow(row);

}

function deletItem(id){

  if(confirm("您确定要删除该图片吗?")){
     Ajax.call('size.php', 'id=' + id+'&act=deleteitem', removeItem, 'POST', 'JSON');
    //location.href="home.php?act=deleteimg&id="+id;
  
  }
 

}

function removeItem(result){

    if(result.err==0){
	
	  alert("删除失败!");
	
	}else{
	
	 if(result.id>0){
	
	 	 var obj=document.getElementById("item_"+result.id);
	
	var row = rowindex(obj);

var tbl = document.getElementById('gallery-table');

tbl.deleteRow(row);
	 }

	}


}



function deletImg2(id){

  if(confirm("您确定要删除该图片吗?")){
  
    location.href="home.php?act=deleteimg2&id="+id;
  
  }
 

}
function deletImg3(id){

  if(confirm("您确定要删除该图片吗?")){
  
    location.href="home.php?act=deleteimg3&id="+id;
  
  }
 

}


function vi_show(obj){
    if(obj.value==0){
	  dc('vi_url1').style.visibility='collapse';
	  dc('vi_url2').style.visibility='collapse';
	  dc('vi_url3').style.visibility='collapse';

	}else{

	    dc('vi_url3').style.visibility='visible';
		dc('vi_url1').style.visibility='visible';
		dc('vi_url2').style.visibility='visible';

	}
}
function dc(id){
    return document.getElementById(id);
}


function removeDz(id,tid){

  if(confirm("您确定要删除该图片吗?")){
  
  var args = "act=remove&cid=" + tid +"&id=" + id;
     Ajax.call('peigian.php', args, removeCate, 'POST', 'JSON');
    //location.href="home.php?act=deleteimg&id="+id;
  
  }
 

}

function removeCate(result){

 window.parent.frames["main-frame"].location="peigian.php?act=add&id="+result.id;

}

</script>
{if $action eq "add"}
<div class="list-div" id="listDiv">
  <table width="100%" cellspacing="1" cellpadding="3">
     <tr>
	   <th> ID</th>
	    <th>配件名称</th>
      <th>配件代码</th>
	    <th>添加时间</th>
	  <th>操作</th>
    </tr>
  {foreach from=$res item=list}
    <tr align="center">
	 <td align="center">{$list.id}</td>
	 <td align="center">{$list.name}</td>
      <td align="center">{$list.number}</td>
	   <td align="center">{$list.format}</td>
	      <td align="center"><span>
      <a href="peigian.php?act=edit&cid={$list.id}&id={$list.relative_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
      <a href="javascript:;" onclick="removeDz({$list.relative_id},{$list.id})" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a></span>
    </td>
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr>
  {/foreach}
  </table>

</div>
{/if}
<div class="main-div">

<form action="peigian.php" method="post" name="theForm" enctype="multipart/form-data">
  <table width="100%" id="general-table">
      <tr>
      <td  class="label">
       配件名称：</td>
      <td>
        <input type="text" name="name" value="{$ads.name}" size="35" />(可选)
 
      </td>
    </tr>
    <tr>
      <td  class="label">
       配件代码：</td>
      <td>
        <input type="text" name="number" value="{$ads.number}" size="35" />
 
      </td>
    </tr>
	
    <tr>
       <td class="label">&nbsp;</td>
       <td>
       {if $form_act neq "update"} <input type="submit" value="添加" class="button" /> {else} <input type="submit" value="修改" class="button" /> {/if}
        <input type="reset" value="{$lang.button_reset}" class="button" />
        <input type="hidden" name="act" value="{$form_act}" />
					     <input type="hidden" name="cid" value="{$ads.id}" />
				     <input type="hidden" name="ids" value="{$ids}" />
		
      </td>
    </tr>
 </table>

</form>
</div>

{include file="pagefooter.htm"}
