<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
  {insert_scripts files='../js/utils.js,../js/region.js,../js/shopping_flow.js'}
  <script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
              region.isAdmin = true;
       
            </script>
<script>
function getRandomString(len) {
    len = len || 32;
    var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
    var maxPos = $chars.length;
    var str = '';
    for (i = 0; i < len; i++) {
        str += $chars.charAt(Math.floor(Math.random() * maxPos));
    }
    return str;
}
function addOrder(obj)

{

var src = obj.parentNode.parentNode;

var idx = rowindex(src);

var tbl = document.getElementById('gallery-table');

var row = tbl.insertRow(idx + 1);

var cell = row.insertCell(-1);
cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addOrder)(.*)(\[)(\+)/i, "$1removeImg$3$4-");

}


/**

* 删除图片上传

*/

function removeImg(obj)

{

var row = rowindex(obj.parentNode.parentNode);

var tbl = document.getElementById('gallery-table');

tbl.deleteRow(row);

}

function deletImg(id){

  if(confirm("您确定要删除该图片吗?")){
  
    location.href="home.php?act=deleteimg&id="+id;
  
  }
 

}
</script>
<form action="questionexcel.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<div class="main-div">
<p style="margin: 10px">
导出的EXCEL数据将按选择的起始时间与结束时间来调用在该时间断发布的咨询内容,如果不选择则调出所有内容。</p>
</div>
<div class="main-div">

  <table width="100%" id="general-table">
    <tr>
      <td  class="label">开始时间</td>
      <td>
        <input name="start_time" type="text" id="start_time" size="22" value='{$ads.start_time}' readonly="readonly" /><input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('start_time', '%Y-%m-%d', false, false, 'selbtn1');" value="{$lang.btn_select}" class="button"/>
      </td>
    </tr>
    <tr>
      <td class="label">结束时间</td>
      <td>
        <input name="end_time" type="text" id="end_time" size="22" value='{$ads.end_time}' readonly="readonly" /><input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('end_time', '%Y-%m-%d', false, false, 'selbtn2');" value="{$lang.btn_select}" class="button"/>
      </td>
    </tr>

   
	
    <tr>
       <td class="label">&nbsp;</td>
       <td>
        <input type="submit" value="导出EXCEL"  class="button" />

        <input type="hidden" name="act" value="import_excel" />

      </td>
    </tr>
 </table>

</div>
</form>
{include file="pagefooter.htm"}
