<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
  {insert_scripts files='../js/utils.js,../js/region.js,../js/shopping_flow.js'}
  <script type="text/javascript">
              region.isAdmin = true;
       
            </script>
<script>
function getRandomString(len) {
    len = len || 32;
    var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
    var maxPos = $chars.length;
    var str = '';
    for (i = 0; i < len; i++) {
        str += $chars.charAt(Math.floor(Math.random() * maxPos));
    }
    return str;
}
function addOrder(obj)

{

var src = obj.parentNode.parentNode;

var idx = rowindex(src);

var tbl = document.getElementById('gallery-table');

var row = tbl.insertRow(idx + 1);

var cell = row.insertCell(-1);
cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addOrder)(.*)(\[)(\+)/i, "$1removeImg$3$4-");

}


/**

* 删除图片上传

*/

function removeImg(obj)

{

var row = rowindex(obj.parentNode.parentNode);

var tbl = document.getElementById('gallery-table');

tbl.deleteRow(row);

}

function deletImg(id){

  if(confirm("您确定要删除该图片吗?")){
  
    location.href="home.php?act=deleteimg&id="+id;
  
  }
 

}
</script>
<div class="main-div">

  <table width="100%" id="general-table">
    <tr>
      <td  class="label">
       名字：</td>
      <td>
         {$ads.name}
      </td>
    </tr>

 

    <tr>
      <td  class="label">性别：</td>
      <td>
       {if $ads.sex eq 0}男{else}女{/if}
      </td>
    </tr>
	
	    <tr>
      <td  class="label">电子邮件：</td>
      <td>
          {$ads.email}
      </td>
    </tr>
	
		
	    <tr>
      <td  class="label">联系号码：</td>
      <td>
        {$ads.telephone}
      </td>
    </tr>
	   
		    <tr>
      <td  class="label">留言标题：</td>
      <td>
        {$ads.title}
      </td>
    </tr>	
			    <tr>
      <td  class="label">留言内容：</td>
      <td>
        {$ads.content}
      </td>
    </tr>
	
    <tr>
       <td class="label">&nbsp;</td>
       <td>
        <input type="submit" value="返回列表" onclick="location.href='ts.php?act=list&pid=0'" class="button" />

        <input type="hidden" name="act" value="{$form_act}" />
        <input type="hidden" name="id" value="{$ads.id}" />
      </td>
    </tr>
 </table>

</div>

{include file="pagefooter.htm"}
